<a href="https://colab.research.google.com/github/WandersonGustavo/Imersao_Alura_Aula_04/blob/main/dnit_dados2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics  as sts
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [2]:
base=pd.read_csv('icm_-01-2023-transparencia.csv',on_bad_lines='skip',sep=";")

In [3]:
base.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','Observação','ICMNP']

In [16]:
from google.colab import files
up=files.upload()

Saving icm_12_2022.csv to icm_12_2022.csv

In [17]:
base2=pd.read_csv('icm_12_2022.csv',on_bad_lines='skip',sep=";")

In [18]:
base2.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','ICC','ICP','ICM']

In [19]:
#AGUPAR E EXIBIR DADOS DA BAHIA
dadosBahia22=base2.groupby(['UF'])
dadosBahia22
dadosBahia22.get_group('BA')
lat22BA=dadosBahia22.head(31)

In [4]:
dadosBahia23=base.groupby(['UF'])
dadosBahia23=dadosBahia23.get_group('BA')
dadosBahia23.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
count,31,31,31,31,31,31,31,31,0,31
unique,1,1,31,31,6,1,8,8,0,19
top,BA,BR-135,"205,800","206,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
freq,31,31,1,1,24,31,22,22,NaN,6

In [7]:
#latitude dos trechos baianos
longitude=base.groupby(['Longitude'])
lon23BA=dadosBahia23
lon23BA.Longitude.head(31)
lon23BA.describe

<bound method NDFrame.describe of       UF Rodovia km inicial km final Extensão (km)        Data     Latitude  \
1383  BA  BR-135    205,800  206,000         0,200  24/01/2023  -12,3564116
1384  BA  BR-135    206,000  207,000         1,000  24/01/2023  -12,3693466
1385  BA  BR-135    207,000  208,000         1,000  24/01/2023  -12,3693466
1386  BA  BR-135    208,000  209,000         1,000  24/01/2023  -12,3693466
1387  BA  BR-135    209,000  210,000         1,000  24/01/2023  -12,3693466
1388  BA  BR-135    210,000  211,000         1,000  24/01/2023  -12,3693466
1389  BA  BR-135    211,000  212,000         1,000  24/01/2023  -12,3693466
1390  BA  BR-135    212,000  213,000         1,000  24/01/2023  -12,3693466
1391  BA  BR-135    213,000  214,000         1,000  24/01/2023  -12,3693466
1392  BA  BR-135    214,000  215,000         1,000  24/01/2023  -12,3693466
1393  BA  BR-135    215,000  216,000         1,000  24/01/2023  -12,3693466
1394  BA  BR-135    216,000  217,000         1,000  24/01/2023  -12,3693466
1395  BA  BR-135    217,000  218,000         1,000  24/01/2023  -12,3693466
1396  BA  BR-135    218,000  219,000         1,000  24/01/2023  -12,3693466
1397  BA  BR-135    219,000  220,000         1,000  24/01/2023  -12,3693466
1398  BA  BR-135    220,000  221,000         1,000  24/01/2023  -12,3693466
1399  BA  BR-135    221,000  222,000         1,000  24/01/2023  -12,3693466
1400  BA  BR-135    222,000  223,000         1,000  24/01/2023  -12,3693466
1401  BA  BR-135    223,000  224,000         1,000  24/01/2023  -12,3693466
1402  BA  BR-135    224,000  225,000         1,000  24/01/2023  -12,3693466
1403  BA  BR-135    225,000  226,000         1,000  24/01/2023  -12,3693466
1404  BA  BR-135    226,000  227,000         1,000  24/01/2023  -12,3693466
1405  BA  BR-135    227,000  228,000         1,000  24/01/2023  -12,3693466
1406  BA  BR-135    306,500  307,000         0,500  24/01/2023  -13,0440416
1407  BA  BR-135    307,000  307,100         0,100  24/01/2023  -13,0459504
1408  BA  BR-135    319,800  320,000         0,200  24/01/2023  -13,1542816
1409  BA  BR-135    320,000  321,000         1,000  24/01/2023  -13,1573666
1410  BA  BR-135    321,000  321,200         0,200  24/01/2023  -13,1573666
1411  BA  BR-135    323,400  324,000         0,600  24/01/2023   -13,165705
1412  BA  BR-135    324,000  325,000         1,000  24/01/2023  -13,1830766
1413  BA  BR-135    325,000  325,300         0,300  24/01/2023  -13,1830766

        Longitude Observação   ICMNP
1383  -44,9800283        NaN  30,000
1384    -44,97331        NaN  35,000
1385    -44,97331        NaN  53,750
1386    -44,97331        NaN  47,500
1387    -44,97331        NaN  50,000
1388    -44,97331        NaN  53,750
1389    -44,97331        NaN  65,000
1390    -44,97331        NaN  76,250
1391    -44,97331        NaN  61,250
1392    -44,97331        NaN  76,250
1393    -44,97331        NaN  68,750
1394    -44,97331        NaN  71,250
1395    -44,97331        NaN  76,250
1396    -44,97331        NaN  68,750
1397    -44,97331        NaN  83,750
1398    -44,97331        NaN  72,500
1399    -44,97331        NaN  76,250
1400    -44,97331        NaN  73,750
1401    -44,97331        NaN  83,750
1402    -44,97331        NaN  72,500
1403    -44,97331        NaN  76,250
1404    -44,97331        NaN  66,250
1405    -44,97331        NaN  76,250
1406   -44,621948        NaN   0,000
1407  -44,6228495        NaN   0,000
1408  -44,6166333        NaN   3,750
1409  -44,6161683        NaN   3,750
1410  -44,6161683        NaN   3,750
1411  -44,6122983        NaN  52,500
1412   -44,617495        NaN  20,000
1413   -44,617495        NaN  17,500  >

In [8]:

icmnp=base.groupby(['ICMNP'])
i23BA=dadosBahia23
#lat23BA.Latitude.head(31)
i23BA.describe

<bound method NDFrame.describe of       UF Rodovia km inicial km final Extensão (km)        Data     Latitude  \
1383  BA  BR-135    205,800  206,000         0,200  24/01/2023  -12,3564116
1384  BA  BR-135    206,000  207,000         1,000  24/01/2023  -12,3693466
1385  BA  BR-135    207,000  208,000         1,000  24/01/2023  -12,3693466
1386  BA  BR-135    208,000  209,000         1,000  24/01/2023  -12,3693466
1387  BA  BR-135    209,000  210,000         1,000  24/01/2023  -12,3693466
1388  BA  BR-135    210,000  211,000         1,000  24/01/2023  -12,3693466
1389  BA  BR-135    211,000  212,000         1,000  24/01/2023  -12,3693466
1390  BA  BR-135    212,000  213,000         1,000  24/01/2023  -12,3693466
1391  BA  BR-135    213,000  214,000         1,000  24/01/2023  -12,3693466
1392  BA  BR-135    214,000  215,000         1,000  24/01/2023  -12,3693466
1393  BA  BR-135    215,000  216,000         1,000  24/01/2023  -12,3693466
1394  BA  BR-135    216,000  217,000         1,000  24/01/2023  -12,3693466
1395  BA  BR-135    217,000  218,000         1,000  24/01/2023  -12,3693466
1396  BA  BR-135    218,000  219,000         1,000  24/01/2023  -12,3693466
1397  BA  BR-135    219,000  220,000         1,000  24/01/2023  -12,3693466
1398  BA  BR-135    220,000  221,000         1,000  24/01/2023  -12,3693466
1399  BA  BR-135    221,000  222,000         1,000  24/01/2023  -12,3693466
1400  BA  BR-135    222,000  223,000         1,000  24/01/2023  -12,3693466
1401  BA  BR-135    223,000  224,000         1,000  24/01/2023  -12,3693466
1402  BA  BR-135    224,000  225,000         1,000  24/01/2023  -12,3693466
1403  BA  BR-135    225,000  226,000         1,000  24/01/2023  -12,3693466
1404  BA  BR-135    226,000  227,000         1,000  24/01/2023  -12,3693466
1405  BA  BR-135    227,000  228,000         1,000  24/01/2023  -12,3693466
1406  BA  BR-135    306,500  307,000         0,500  24/01/2023  -13,0440416
1407  BA  BR-135    307,000  307,100         0,100  24/01/2023  -13,0459504
1408  BA  BR-135    319,800  320,000         0,200  24/01/2023  -13,1542816
1409  BA  BR-135    320,000  321,000         1,000  24/01/2023  -13,1573666
1410  BA  BR-135    321,000  321,200         0,200  24/01/2023  -13,1573666
1411  BA  BR-135    323,400  324,000         0,600  24/01/2023   -13,165705
1412  BA  BR-135    324,000  325,000         1,000  24/01/2023  -13,1830766
1413  BA  BR-135    325,000  325,300         0,300  24/01/2023  -13,1830766

        Longitude Observação   ICMNP
1383  -44,9800283        NaN  30,000
1384    -44,97331        NaN  35,000
1385    -44,97331        NaN  53,750
1386    -44,97331        NaN  47,500
1387    -44,97331        NaN  50,000
1388    -44,97331        NaN  53,750
1389    -44,97331        NaN  65,000
1390    -44,97331        NaN  76,250
1391    -44,97331        NaN  61,250
1392    -44,97331        NaN  76,250
1393    -44,97331        NaN  68,750
1394    -44,97331        NaN  71,250
1395    -44,97331        NaN  76,250
1396    -44,97331        NaN  68,750
1397    -44,97331        NaN  83,750
1398    -44,97331        NaN  72,500
1399    -44,97331        NaN  76,250
1400    -44,97331        NaN  73,750
1401    -44,97331        NaN  83,750
1402    -44,97331        NaN  72,500
1403    -44,97331        NaN  76,250
1404    -44,97331        NaN  66,250
1405    -44,97331        NaN  76,250
1406   -44,621948        NaN   0,000
1407  -44,6228495        NaN   0,000
1408  -44,6166333        NaN   3,750
1409  -44,6161683        NaN   3,750
1410  -44,6161683        NaN   3,750
1411  -44,6122983        NaN  52,500
1412   -44,617495        NaN  20,000
1413   -44,617495        NaN  17,500  >

In [20]:
dadosBahia22=base2.groupby(['UF'])
dadosBahia22=lat22BA
dadosBahia22.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
count,714,714,714,714,714,714,714,714,714,714,714
unique,24,24,404,392,17,16,238,236,20,32,117
top,MS,BR-101,"2,000","1,000","1,000",06/12/2022,0,0,"25,000","0,000","7,500"
freq,31,93,11,11,679,124,75,75,229,201,62

In [21]:
icm=base2.groupby(['ICM'])
icm22BA=dadosBahia22.describe()
#icm22BA.ICM.head(31)

In [22]:
base2['ICM'].isnull().sum()

5

In [5]:
#
a="12,5"
b=a.replace(",",".")
b1=float(b)
b1

12.5

In [ ]:
#TRANSFORMAÇÃO DOS DADOS DE STRING PRA FLOAT AGR PODE CORRELACIONAR
#i23BA['ICMNP']=i23BA['ICMNP'].apply(lambda x: str(x).replace(",",".") )
#i23BA=i23BA['ICMNP'].replace(",",".")
#i23BA.astype('Float64')
i23BA.describe

In [ ]:
#******************************************''DADOS DE 2022 ABAIXO''***********************************************************************
#lon23BA['Longitude']=lon23BA['Longitude'].apply(lambda x: str(x).replace(",",".") )
#lon23BA['Longitude']=lon23BA['Longitude'].astype('float64')

In [23]:
lon23BA.drop('Rodovia',axis=1)
#lon23BA.loc[:,7]=lon23BA.astype('float64')

,UF,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
1383,BA,"205,800","206,000","0,200",24/01/2023,"-12,3564116","-44,9800283",NaN,"30,000"
1384,BA,"206,000","207,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"35,000"
1385,BA,"207,000","208,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"53,750"
1386,BA,"208,000","209,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"47,500"
1387,BA,"209,000","210,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"50,000"
1388,BA,"210,000","211,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"53,750"
1389,BA,"211,000","212,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"65,000"
1390,BA,"212,000","213,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1391,BA,"213,000","214,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"61,250"
1392,BA,"214,000","215,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1393,BA,"215,000","216,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"68,750"
1394,BA,"216,000","217,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"71,250"
1395,BA,"217,000","218,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1396,BA,"218,000","219,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"68,750"
1397,BA,"219,000","220,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"83,750"
1398,BA,"220,000","221,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"72,500"
1399,BA,"221,000","222,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1400,BA,"222,000","223,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"73,750"
1401,BA,"223,000","224,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"83,750"
1402,BA,"224,000","225,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"72,500"
1403,BA,"225,000","226,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1404,BA,"226,000","227,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"66,250"
1405,BA,"227,000","228,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1406,BA,"306,500","307,000","0,500",24/01/2023,"-13,0440416","-44,621948",NaN,"0,000"
1407,BA,"307,000","307,100","0,100",24/01/2023,"-13,0459504","-44,6228495",NaN,"0,000"
1408,BA,"319,800","320,000","0,200",24/01/2023,"-13,1542816","-44,6166333",NaN,"3,750"
1409,BA,"320,000","321,000","1,000",24/01/2023,"-13,1573666","-44,6161683",NaN,"3,750"
1410,BA,"321,000","321,200","0,200",24/01/2023,"-13,1573666","-44,6161683",NaN,"3,750"
1411,BA,"323,400","324,000","0,600",24/01/2023,"-13,165705","-44,6122983",NaN,"52,500"
1412,BA,"324,000","325,000","1,000",24/01/2023,"-13,1830766","-44,617495",NaN,"20,000"
1413,BA,"325,000","325,300","0,300",24/01/2023,"-13,1830766","-44,617495",NaN,"17,500"

In [14]:
lon23BA.drop('Rodovia',axis=1)

,UF,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
1383,BA,"205,800","206,000","0,200",24/01/2023,"-12,3564116","-44,9800283",NaN,"30,000"
1384,BA,"206,000","207,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"35,000"
1385,BA,"207,000","208,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"53,750"
1386,BA,"208,000","209,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"47,500"
1387,BA,"209,000","210,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"50,000"
1388,BA,"210,000","211,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"53,750"
1389,BA,"211,000","212,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"65,000"
1390,BA,"212,000","213,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1391,BA,"213,000","214,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"61,250"
1392,BA,"214,000","215,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1393,BA,"215,000","216,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"68,750"
1394,BA,"216,000","217,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"71,250"
1395,BA,"217,000","218,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1396,BA,"218,000","219,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"68,750"
1397,BA,"219,000","220,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"83,750"
1398,BA,"220,000","221,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"72,500"
1399,BA,"221,000","222,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1400,BA,"222,000","223,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"73,750"
1401,BA,"223,000","224,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"83,750"
1402,BA,"224,000","225,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"72,500"
1403,BA,"225,000","226,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1404,BA,"226,000","227,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"66,250"
1405,BA,"227,000","228,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1406,BA,"306,500","307,000","0,500",24/01/2023,"-13,0440416","-44,621948",NaN,"0,000"
1407,BA,"307,000","307,100","0,100",24/01/2023,"-13,0459504","-44,6228495",NaN,"0,000"
1408,BA,"319,800","320,000","0,200",24/01/2023,"-13,1542816","-44,6166333",NaN,"3,750"
1409,BA,"320,000","321,000","1,000",24/01/2023,"-13,1573666","-44,6161683",NaN,"3,750"
1410,BA,"321,000","321,200","0,200",24/01/2023,"-13,1573666","-44,6161683",NaN,"3,750"
1411,BA,"323,400","324,000","0,600",24/01/2023,"-13,165705","-44,6122983",NaN,"52,500"
1412,BA,"324,000","325,000","1,000",24/01/2023,"-13,1830766","-44,617495",NaN,"20,000"
1413,BA,"325,000","325,300","0,300",24/01/2023,"-13,1830766","-44,617495",NaN,"17,500"

In [13]:
lon23BA.drop('Observação',axis=1)

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICMNP
1383,BA,BR-135,"205,800","206,000","0,200",24/01/2023,"-12,3564116","-44,9800283","30,000"
1384,BA,BR-135,"206,000","207,000","1,000",24/01/2023,"-12,3693466","-44,97331","35,000"
1385,BA,BR-135,"207,000","208,000","1,000",24/01/2023,"-12,3693466","-44,97331","53,750"
1386,BA,BR-135,"208,000","209,000","1,000",24/01/2023,"-12,3693466","-44,97331","47,500"
1387,BA,BR-135,"209,000","210,000","1,000",24/01/2023,"-12,3693466","-44,97331","50,000"
1388,BA,BR-135,"210,000","211,000","1,000",24/01/2023,"-12,3693466","-44,97331","53,750"
1389,BA,BR-135,"211,000","212,000","1,000",24/01/2023,"-12,3693466","-44,97331","65,000"
1390,BA,BR-135,"212,000","213,000","1,000",24/01/2023,"-12,3693466","-44,97331","76,250"
1391,BA,BR-135,"213,000","214,000","1,000",24/01/2023,"-12,3693466","-44,97331","61,250"
1392,BA,BR-135,"214,000","215,000","1,000",24/01/2023,"-12,3693466","-44,97331","76,250"
1393,BA,BR-135,"215,000","216,000","1,000",24/01/2023,"-12,3693466","-44,97331","68,750"
1394,BA,BR-135,"216,000","217,000","1,000",24/01/2023,"-12,3693466","-44,97331","71,250"
1395,BA,BR-135,"217,000","218,000","1,000",24/01/2023,"-12,3693466","-44,97331","76,250"
1396,BA,BR-135,"218,000","219,000","1,000",24/01/2023,"-12,3693466","-44,97331","68,750"
1397,BA,BR-135,"219,000","220,000","1,000",24/01/2023,"-12,3693466","-44,97331","83,750"
1398,BA,BR-135,"220,000","221,000","1,000",24/01/2023,"-12,3693466","-44,97331","72,500"
1399,BA,BR-135,"221,000","222,000","1,000",24/01/2023,"-12,3693466","-44,97331","76,250"
1400,BA,BR-135,"222,000","223,000","1,000",24/01/2023,"-12,3693466","-44,97331","73,750"
1401,BA,BR-135,"223,000","224,000","1,000",24/01/2023,"-12,3693466","-44,97331","83,750"
1402,BA,BR-135,"224,000","225,000","1,000",24/01/2023,"-12,3693466","-44,97331","72,500"
1403,BA,BR-135,"225,000","226,000","1,000",24/01/2023,"-12,3693466","-44,97331","76,250"
1404,BA,BR-135,"226,000","227,000","1,000",24/01/2023,"-12,3693466","-44,97331","66,250"
1405,BA,BR-135,"227,000","228,000","1,000",24/01/2023,"-12,3693466","-44,97331","76,250"
1406,BA,BR-135,"306,500","307,000","0,500",24/01/2023,"-13,0440416","-44,621948","0,000"
1407,BA,BR-135,"307,000","307,100","0,100",24/01/2023,"-13,0459504","-44,6228495","0,000"
1408,BA,BR-135,"319,800","320,000","0,200",24/01/2023,"-13,1542816","-44,6166333","3,750"
1409,BA,BR-135,"320,000","321,000","1,000",24/01/2023,"-13,1573666","-44,6161683","3,750"
1410,BA,BR-135,"321,000","321,200","0,200",24/01/2023,"-13,1573666","-44,6161683","3,750"
1411,BA,BR-135,"323,400","324,000","0,600",24/01/2023,"-13,165705","-44,6122983","52,500"
1412,BA,BR-135,"324,000","325,000","1,000",24/01/2023,"-13,1830766","-44,617495","20,000"
1413,BA,BR-135,"325,000","325,300","0,300",24/01/2023,"-13,1830766","-44,617495","17,500"

In [24]:
dadosBahia22.dtypes

UF               object
Rodovia          object
km inicial       object
km final         object
Extensão (km)    object
Data             object
Latitude         object
Longitude        object
ICC              object
ICP              object
ICM              object
dtype: object

In [25]:
dadosBahia22.drop('Rodovia',axis=1)

,UF,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
3,UF,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
6,PA,"115,000","116,000","1,000",23/12/2022,"-5,1413601","-49,3520482","25,000","0,000","7,500"
7,PA,"116,000","117,000","1,000",23/12/2022,"-5,1413601","-49,3520482","25,000","0,000","7,500"
8,PA,"117,000","118,000","1,000",23/12/2022,"-5,1413601","-49,3520482","25,000","0,000","7,500"
9,PA,"118,000","119,000","1,000",23/12/2022,"-5,1413601","-49,3520482","25,000","0,000","7,500"
...,...,...,...,...,...,...,...,...,...,...
36120,AP,"17,000","18,000","1,000",21/12/2022,"0,1779826","-51,1240224","32,500","10,000","16,750"
36121,AP,"18,000","19,000","1,000",21/12/2022,"0,1779826","-51,1240224","32,500","10,000","16,750"
36122,AP,"19,000","20,000","1,000",21/12/2022,"0,1779826","-51,1240224","32,500","10,000","16,750"
36123,AP,"20,000","21,000","1,000",21/12/2022,"0,1779826","-51,1240224","32,500","10,000","16,750"
36124,AP,"21,000","22,000","1,000",21/12/2022,"0,1779826","-51,1240224","32,500","10,000","16,750"

In [26]:
bahia=dadosBahia22.groupby(['UF'])
bahia=bahia.get_group('BA')
bahia.describe

<bound method NDFrame.describe of       UF Rodovia km inicial km final Extensão (km)        Data     Latitude  \
9511  BA  BR-242    538,500  539,000         0,500  08/12/2022   -12,195745
9512  BA  BR-242    539,000  540,000         1,000  08/12/2022  -12,2463916
9513  BA  BR-242    540,000  541,000         1,000  08/12/2022  -12,2463916
9514  BA  BR-242    541,000  542,000         1,000  08/12/2022  -12,2463916
9515  BA  BR-242    542,000  543,000         1,000  08/12/2022  -12,2463916
9516  BA  BR-242    543,000  544,000         1,000  08/12/2022  -12,2463916
9517  BA  BR-242    544,000  545,000         1,000  08/12/2022  -12,2463916
9518  BA  BR-242    545,000  546,000         1,000  08/12/2022  -12,2463916
9519  BA  BR-242    546,000  547,000         1,000  08/12/2022  -12,2463916
9520  BA  BR-242    547,000  548,000         1,000  08/12/2022  -12,2463916
9521  BA  BR-242    548,000  549,000         1,000  08/12/2022  -12,2463916
9522  BA  BR-242    549,000  550,000         1,000  08/12/2022  -12,2463916
9523  BA  BR-242    550,000  551,000         1,000  08/12/2022  -12,2463916
9524  BA  BR-242    551,000  552,000         1,000  08/12/2022  -12,2463916
9525  BA  BR-242    552,000  553,000         1,000  08/12/2022  -12,2463916
9526  BA  BR-242    553,000  554,000         1,000  08/12/2022  -12,2463916
9527  BA  BR-242    554,000  555,000         1,000  08/12/2022  -12,2463916
9528  BA  BR-242    555,000  556,000         1,000  08/12/2022  -12,2463916
9529  BA  BR-242    556,000  557,000         1,000  08/12/2022  -12,2463916
9530  BA  BR-242    557,000  558,000         1,000  08/12/2022  -12,2463916
9531  BA  BR-242    558,000  559,000         1,000  08/12/2022  -12,2463916
9532  BA  BR-242    559,000  560,000         1,000  08/12/2022  -12,2463916
9533  BA  BR-242    560,000  561,000         1,000  08/12/2022  -12,2463916
9534  BA  BR-242    561,000  562,000         1,000  08/12/2022  -12,2463916
9535  BA  BR-242    562,000  563,000         1,000  08/12/2022  -12,2463916
9536  BA  BR-242    563,000  564,000         1,000  08/12/2022  -12,2463916
9537  BA  BR-242    564,000  565,000         1,000  08/12/2022  -12,2463916
9538  BA  BR-242    565,000  566,000         1,000  08/12/2022  -12,2463916
9539  BA  BR-242    566,000  567,000         1,000  08/12/2022  -12,2463916
9540  BA  BR-242    567,000  568,000         1,000  08/12/2022  -12,2463916
9541  BA  BR-242    568,000  569,000         1,000  08/12/2022  -12,2463916

        Longitude     ICC      ICP     ICM
9511    -43,70278  65,000   20,000  33,500
9512  -42,7666333  40,000    5,000  15,500
9513  -42,7666333  40,000    5,000  15,500
9514  -42,7666333  40,000    7,500  17,250
9515  -42,7666333  40,000   40,000  40,000
9516  -42,7666333  40,000   50,000  47,000
9517  -42,7666333  40,000   50,000  47,000
9518  -42,7666333  40,000   52,500  48,750
9519  -42,7666333  40,000   40,000  40,000
9520  -42,7666333  40,000   52,500  48,750
9521  -42,7666333  40,000   10,000  19,000
9522  -42,7666333  40,000   30,000  33,000
9523  -42,7666333  40,000   22,500  27,750
9524  -42,7666333  50,000    5,000  18,500
9525  -42,7666333  40,000   35,000  36,500
9526  -42,7666333  32,500   10,000  16,750
9527  -42,7666333  40,000   25,000  29,500
9528  -42,7666333  40,000   50,000  47,000
9529  -42,7666333  40,000   10,000  19,000
9530  -42,7666333  40,000   20,000  26,000
9531  -42,7666333  40,000   77,500  66,250
9532  -42,7666333  40,000    0,000  12,000
9533  -42,7666333  40,000    0,000  12,000
9534  -42,7666333  42,500   12,500  21,500
9535  -42,7666333  40,000    5,000  15,500
9536  -42,7666333  32,500    5,000  13,250
9537  -42,7666333  40,000  100,000  82,000
9538  -42,7666333  40,000   35,000  36,500
9539  -42,7666333  50,000   20,000  29,000
9540  -42,7666333  40,000   12,500  20,750
9541  -42,7666333  50,000   50,000  50,000  >

In [27]:
bahia.drop('UF',axis=1)

,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
9511,BR-242,"538,500","539,000","0,500",08/12/2022,"-12,195745","-43,70278","65,000","20,000","33,500"
9512,BR-242,"539,000","540,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9513,BR-242,"540,000","541,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9514,BR-242,"541,000","542,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","7,500","17,250"
9515,BR-242,"542,000","543,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","40,000","40,000"
9516,BR-242,"543,000","544,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","50,000","47,000"
9517,BR-242,"544,000","545,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","50,000","47,000"
9518,BR-242,"545,000","546,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","52,500","48,750"
9519,BR-242,"546,000","547,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","40,000","40,000"
9520,BR-242,"547,000","548,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","52,500","48,750"
9521,BR-242,"548,000","549,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","10,000","19,000"
9522,BR-242,"549,000","550,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","30,000","33,000"
9523,BR-242,"550,000","551,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","22,500","27,750"
9524,BR-242,"551,000","552,000","1,000",08/12/2022,"-12,2463916","-42,7666333","50,000","5,000","18,500"
9525,BR-242,"552,000","553,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","35,000","36,500"
9526,BR-242,"553,000","554,000","1,000",08/12/2022,"-12,2463916","-42,7666333","32,500","10,000","16,750"
9527,BR-242,"554,000","555,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","25,000","29,500"
9528,BR-242,"555,000","556,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","50,000","47,000"
9529,BR-242,"556,000","557,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","10,000","19,000"
9530,BR-242,"557,000","558,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","20,000","26,000"
9531,BR-242,"558,000","559,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","77,500","66,250"
9532,BR-242,"559,000","560,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","0,000","12,000"
9533,BR-242,"560,000","561,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","0,000","12,000"
9534,BR-242,"561,000","562,000","1,000",08/12/2022,"-12,2463916","-42,7666333","42,500","12,500","21,500"
9535,BR-242,"562,000","563,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9536,BR-242,"563,000","564,000","1,000",08/12/2022,"-12,2463916","-42,7666333","32,500","5,000","13,250"
9537,BR-242,"564,000","565,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","100,000","82,000"
9538,BR-242,"565,000","566,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","35,000","36,500"
9539,BR-242,"566,000","567,000","1,000",08/12/2022,"-12,2463916","-42,7666333","50,000","20,000","29,000"
9540,BR-242,"567,000","568,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","12,500","20,750"
9541,BR-242,"568,000","569,000","1,000",08/12/2022,"-12,2463916","-42,7666333","50,000","50,000","50,000"

In [28]:
bahia.drop('Rodovia',axis=1)

,UF,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
9511,BA,"538,500","539,000","0,500",08/12/2022,"-12,195745","-43,70278","65,000","20,000","33,500"
9512,BA,"539,000","540,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9513,BA,"540,000","541,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9514,BA,"541,000","542,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","7,500","17,250"
9515,BA,"542,000","543,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","40,000","40,000"
9516,BA,"543,000","544,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","50,000","47,000"
9517,BA,"544,000","545,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","50,000","47,000"
9518,BA,"545,000","546,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","52,500","48,750"
9519,BA,"546,000","547,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","40,000","40,000"
9520,BA,"547,000","548,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","52,500","48,750"
9521,BA,"548,000","549,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","10,000","19,000"
9522,BA,"549,000","550,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","30,000","33,000"
9523,BA,"550,000","551,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","22,500","27,750"
9524,BA,"551,000","552,000","1,000",08/12/2022,"-12,2463916","-42,7666333","50,000","5,000","18,500"
9525,BA,"552,000","553,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","35,000","36,500"
9526,BA,"553,000","554,000","1,000",08/12/2022,"-12,2463916","-42,7666333","32,500","10,000","16,750"
9527,BA,"554,000","555,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","25,000","29,500"
9528,BA,"555,000","556,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","50,000","47,000"
9529,BA,"556,000","557,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","10,000","19,000"
9530,BA,"557,000","558,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","20,000","26,000"
9531,BA,"558,000","559,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","77,500","66,250"
9532,BA,"559,000","560,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","0,000","12,000"
9533,BA,"560,000","561,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","0,000","12,000"
9534,BA,"561,000","562,000","1,000",08/12/2022,"-12,2463916","-42,7666333","42,500","12,500","21,500"
9535,BA,"562,000","563,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9536,BA,"563,000","564,000","1,000",08/12/2022,"-12,2463916","-42,7666333","32,500","5,000","13,250"
9537,BA,"564,000","565,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","100,000","82,000"
9538,BA,"565,000","566,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","35,000","36,500"
9539,BA,"566,000","567,000","1,000",08/12/2022,"-12,2463916","-42,7666333","50,000","20,000","29,000"
9540,BA,"567,000","568,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","12,500","20,750"
9541,BA,"568,000","569,000","1,000",08/12/2022,"-12,2463916","-42,7666333","50,000","50,000","50,000"

In [29]:
bahia.drop('UF',axis=1)

,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
9511,BR-242,"538,500","539,000","0,500",08/12/2022,"-12,195745","-43,70278","65,000","20,000","33,500"
9512,BR-242,"539,000","540,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9513,BR-242,"540,000","541,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9514,BR-242,"541,000","542,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","7,500","17,250"
9515,BR-242,"542,000","543,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","40,000","40,000"
9516,BR-242,"543,000","544,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","50,000","47,000"
9517,BR-242,"544,000","545,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","50,000","47,000"
9518,BR-242,"545,000","546,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","52,500","48,750"
9519,BR-242,"546,000","547,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","40,000","40,000"
9520,BR-242,"547,000","548,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","52,500","48,750"
9521,BR-242,"548,000","549,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","10,000","19,000"
9522,BR-242,"549,000","550,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","30,000","33,000"
9523,BR-242,"550,000","551,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","22,500","27,750"
9524,BR-242,"551,000","552,000","1,000",08/12/2022,"-12,2463916","-42,7666333","50,000","5,000","18,500"
9525,BR-242,"552,000","553,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","35,000","36,500"
9526,BR-242,"553,000","554,000","1,000",08/12/2022,"-12,2463916","-42,7666333","32,500","10,000","16,750"
9527,BR-242,"554,000","555,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","25,000","29,500"
9528,BR-242,"555,000","556,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","50,000","47,000"
9529,BR-242,"556,000","557,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","10,000","19,000"
9530,BR-242,"557,000","558,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","20,000","26,000"
9531,BR-242,"558,000","559,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","77,500","66,250"
9532,BR-242,"559,000","560,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","0,000","12,000"
9533,BR-242,"560,000","561,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","0,000","12,000"
9534,BR-242,"561,000","562,000","1,000",08/12/2022,"-12,2463916","-42,7666333","42,500","12,500","21,500"
9535,BR-242,"562,000","563,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9536,BR-242,"563,000","564,000","1,000",08/12/2022,"-12,2463916","-42,7666333","32,500","5,000","13,250"
9537,BR-242,"564,000","565,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","100,000","82,000"
9538,BR-242,"565,000","566,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","35,000","36,500"
9539,BR-242,"566,000","567,000","1,000",08/12/2022,"-12,2463916","-42,7666333","50,000","20,000","29,000"
9540,BR-242,"567,000","568,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","12,500","20,750"
9541,BR-242,"568,000","569,000","1,000",08/12/2022,"-12,2463916","-42,7666333","50,000","50,000","50,000"

In [30]:
lon23BA['ICMNP']=lon23BA['ICMNP'].apply(lambda x: str(x).replace(",",".") )
#lon23BA['Longitude']=lon23BA['Longitude'].astype('float64')

<ipython-input-30-97ce439f0967>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon23BA['ICMNP']=lon23BA['ICMNP'].apply(lambda x: str(x).replace(",",".") )

In [31]:
lon23BA['ICMNP']=lon23BA['ICMNP'].astype('float64')

<ipython-input-31-f7b53a27c5d3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon23BA['ICMNP']=lon23BA['ICMNP'].astype('float64')

In [32]:
lon23BA.drop('Rodovia',axis=1)

,UF,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
1383,BA,"205,800","206,000","0,200",24/01/2023,"-12,3564116","-44,9800283",NaN,30.00
1384,BA,"206,000","207,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,35.00
1385,BA,"207,000","208,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,53.75
1386,BA,"208,000","209,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,47.50
1387,BA,"209,000","210,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,50.00
1388,BA,"210,000","211,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,53.75
1389,BA,"211,000","212,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,65.00
1390,BA,"212,000","213,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,76.25
1391,BA,"213,000","214,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,61.25
1392,BA,"214,000","215,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,76.25
1393,BA,"215,000","216,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,68.75
1394,BA,"216,000","217,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,71.25
1395,BA,"217,000","218,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,76.25
1396,BA,"218,000","219,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,68.75
1397,BA,"219,000","220,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,83.75
1398,BA,"220,000","221,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,72.50
1399,BA,"221,000","222,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,76.25
1400,BA,"222,000","223,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,73.75
1401,BA,"223,000","224,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,83.75
1402,BA,"224,000","225,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,72.50
1403,BA,"225,000","226,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,76.25
1404,BA,"226,000","227,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,66.25
1405,BA,"227,000","228,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,76.25
1406,BA,"306,500","307,000","0,500",24/01/2023,"-13,0440416","-44,621948",NaN,0.00
1407,BA,"307,000","307,100","0,100",24/01/2023,"-13,0459504","-44,6228495",NaN,0.00
1408,BA,"319,800","320,000","0,200",24/01/2023,"-13,1542816","-44,6166333",NaN,3.75
1409,BA,"320,000","321,000","1,000",24/01/2023,"-13,1573666","-44,6161683",NaN,3.75
1410,BA,"321,000","321,200","0,200",24/01/2023,"-13,1573666","-44,6161683",NaN,3.75
1411,BA,"323,400","324,000","0,600",24/01/2023,"-13,165705","-44,6122983",NaN,52.50
1412,BA,"324,000","325,000","1,000",24/01/2023,"-13,1830766","-44,617495",NaN,20.00
1413,BA,"325,000","325,300","0,300",24/01/2023,"-13,1830766","-44,617495",NaN,17.50

In [33]:
lon23BA.drop('Observação',axis=1)

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICMNP
1383,BA,BR-135,"205,800","206,000","0,200",24/01/2023,"-12,3564116","-44,9800283",30.00
1384,BA,BR-135,"206,000","207,000","1,000",24/01/2023,"-12,3693466","-44,97331",35.00
1385,BA,BR-135,"207,000","208,000","1,000",24/01/2023,"-12,3693466","-44,97331",53.75
1386,BA,BR-135,"208,000","209,000","1,000",24/01/2023,"-12,3693466","-44,97331",47.50
1387,BA,BR-135,"209,000","210,000","1,000",24/01/2023,"-12,3693466","-44,97331",50.00
1388,BA,BR-135,"210,000","211,000","1,000",24/01/2023,"-12,3693466","-44,97331",53.75
1389,BA,BR-135,"211,000","212,000","1,000",24/01/2023,"-12,3693466","-44,97331",65.00
1390,BA,BR-135,"212,000","213,000","1,000",24/01/2023,"-12,3693466","-44,97331",76.25
1391,BA,BR-135,"213,000","214,000","1,000",24/01/2023,"-12,3693466","-44,97331",61.25
1392,BA,BR-135,"214,000","215,000","1,000",24/01/2023,"-12,3693466","-44,97331",76.25
1393,BA,BR-135,"215,000","216,000","1,000",24/01/2023,"-12,3693466","-44,97331",68.75
1394,BA,BR-135,"216,000","217,000","1,000",24/01/2023,"-12,3693466","-44,97331",71.25
1395,BA,BR-135,"217,000","218,000","1,000",24/01/2023,"-12,3693466","-44,97331",76.25
1396,BA,BR-135,"218,000","219,000","1,000",24/01/2023,"-12,3693466","-44,97331",68.75
1397,BA,BR-135,"219,000","220,000","1,000",24/01/2023,"-12,3693466","-44,97331",83.75
1398,BA,BR-135,"220,000","221,000","1,000",24/01/2023,"-12,3693466","-44,97331",72.50
1399,BA,BR-135,"221,000","222,000","1,000",24/01/2023,"-12,3693466","-44,97331",76.25
1400,BA,BR-135,"222,000","223,000","1,000",24/01/2023,"-12,3693466","-44,97331",73.75
1401,BA,BR-135,"223,000","224,000","1,000",24/01/2023,"-12,3693466","-44,97331",83.75
1402,BA,BR-135,"224,000","225,000","1,000",24/01/2023,"-12,3693466","-44,97331",72.50
1403,BA,BR-135,"225,000","226,000","1,000",24/01/2023,"-12,3693466","-44,97331",76.25
1404,BA,BR-135,"226,000","227,000","1,000",24/01/2023,"-12,3693466","-44,97331",66.25
1405,BA,BR-135,"227,000","228,000","1,000",24/01/2023,"-12,3693466","-44,97331",76.25
1406,BA,BR-135,"306,500","307,000","0,500",24/01/2023,"-13,0440416","-44,621948",0.00
1407,BA,BR-135,"307,000","307,100","0,100",24/01/2023,"-13,0459504","-44,6228495",0.00
1408,BA,BR-135,"319,800","320,000","0,200",24/01/2023,"-13,1542816","-44,6166333",3.75
1409,BA,BR-135,"320,000","321,000","1,000",24/01/2023,"-13,1573666","-44,6161683",3.75
1410,BA,BR-135,"321,000","321,200","0,200",24/01/2023,"-13,1573666","-44,6161683",3.75
1411,BA,BR-135,"323,400","324,000","0,600",24/01/2023,"-13,165705","-44,6122983",52.50
1412,BA,BR-135,"324,000","325,000","1,000",24/01/2023,"-13,1830766","-44,617495",20.00
1413,BA,BR-135,"325,000","325,300","0,300",24/01/2023,"-13,1830766","-44,617495",17.50

In [ ]:
#l=lon23BA[['Longitude']].astype('float64')

In [34]:
j=lon23BA[['ICMNP']].astype('float64')

In [35]:
lon23BA['Latitude']=lon23BA['Latitude'].apply(lambda x: str(x).replace(",",".") )

<ipython-input-35-5d55a2d68868>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon23BA['Latitude']=lon23BA['Latitude'].apply(lambda x: str(x).replace(",",".") )

In [36]:
lon23BA['Latitude'].astype('float64')

1383   -12.356412
1384   -12.369347
1385   -12.369347
1386   -12.369347
1387   -12.369347
1388   -12.369347
1389   -12.369347
1390   -12.369347
1391   -12.369347
1392   -12.369347
1393   -12.369347
1394   -12.369347
1395   -12.369347
1396   -12.369347
1397   -12.369347
1398   -12.369347
1399   -12.369347
1400   -12.369347
1401   -12.369347
1402   -12.369347
1403   -12.369347
1404   -12.369347
1405   -12.369347
1406   -13.044042
1407   -13.045950
1408   -13.154282
1409   -13.157367
1410   -13.157367
1411   -13.165705
1412   -13.183077
1413   -13.183077
Name: Latitude, dtype: float64

In [37]:
lon23BA['Data'].astype('object')

1383    24/01/2023
1384    24/01/2023
1385    24/01/2023
1386    24/01/2023
1387    24/01/2023
1388    24/01/2023
1389    24/01/2023
1390    24/01/2023
1391    24/01/2023
1392    24/01/2023
1393    24/01/2023
1394    24/01/2023
1395    24/01/2023
1396    24/01/2023
1397    24/01/2023
1398    24/01/2023
1399    24/01/2023
1400    24/01/2023
1401    24/01/2023
1402    24/01/2023
1403    24/01/2023
1404    24/01/2023
1405    24/01/2023
1406    24/01/2023
1407    24/01/2023
1408    24/01/2023
1409    24/01/2023
1410    24/01/2023
1411    24/01/2023
1412    24/01/2023
1413    24/01/2023
Name: Data, dtype: object

In [38]:
lon23BA['Data']=lon23BA['Data'].apply(lambda x: str(x).replace('01','24/01/2023') )

<ipython-input-38-5b5857e65cc9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon23BA['Data']=lon23BA['Data'].apply(lambda x: str(x).replace('01','24/01/2023') )

In [39]:
pergunta=lon23BA.iloc[:,0].values
resposta=j.iloc[:,0].values

In [40]:
lon23BA['Data'].describe

<bound method NDFrame.describe of 1383    24/24/01/2023/2023
1384    24/24/01/2023/2023
1385    24/24/01/2023/2023
1386    24/24/01/2023/2023
1387    24/24/01/2023/2023
1388    24/24/01/2023/2023
1389    24/24/01/2023/2023
1390    24/24/01/2023/2023
1391    24/24/01/2023/2023
1392    24/24/01/2023/2023
1393    24/24/01/2023/2023
1394    24/24/01/2023/2023
1395    24/24/01/2023/2023
1396    24/24/01/2023/2023
1397    24/24/01/2023/2023
1398    24/24/01/2023/2023
1399    24/24/01/2023/2023
1400    24/24/01/2023/2023
1401    24/24/01/2023/2023
1402    24/24/01/2023/2023
1403    24/24/01/2023/2023
1404    24/24/01/2023/2023
1405    24/24/01/2023/2023
1406    24/24/01/2023/2023
1407    24/24/01/2023/2023
1408    24/24/01/2023/2023
1409    24/24/01/2023/2023
1410    24/24/01/2023/2023
1411    24/24/01/2023/2023
1412    24/24/01/2023/2023
1413    24/24/01/2023/2023
Name: Data, dtype: object>

In [41]:
lon23BA['Longitude'].describe

<bound method NDFrame.describe of 1383    -44,9800283
1384      -44,97331
1385      -44,97331
1386      -44,97331
1387      -44,97331
1388      -44,97331
1389      -44,97331
1390      -44,97331
1391      -44,97331
1392      -44,97331
1393      -44,97331
1394      -44,97331
1395      -44,97331
1396      -44,97331
1397      -44,97331
1398      -44,97331
1399      -44,97331
1400      -44,97331
1401      -44,97331
1402      -44,97331
1403      -44,97331
1404      -44,97331
1405      -44,97331
1406     -44,621948
1407    -44,6228495
1408    -44,6166333
1409    -44,6161683
1410    -44,6161683
1411    -44,6122983
1412     -44,617495
1413     -44,617495
Name: Longitude, dtype: object>

In [42]:
lon23BA['Longitude']=lon23BA['Longitude'].apply(lambda x: str(x).replace(",",".") )

<ipython-input-42-6cc23db75901>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon23BA['Longitude']=lon23BA['Longitude'].apply(lambda x: str(x).replace(",",".") )

In [43]:
lon23BA['Longitude'].astype('float64')

1383   -44.980028
1384   -44.973310
1385   -44.973310
1386   -44.973310
1387   -44.973310
1388   -44.973310
1389   -44.973310
1390   -44.973310
1391   -44.973310
1392   -44.973310
1393   -44.973310
1394   -44.973310
1395   -44.973310
1396   -44.973310
1397   -44.973310
1398   -44.973310
1399   -44.973310
1400   -44.973310
1401   -44.973310
1402   -44.973310
1403   -44.973310
1404   -44.973310
1405   -44.973310
1406   -44.621948
1407   -44.622850
1408   -44.616633
1409   -44.616168
1410   -44.616168
1411   -44.612298
1412   -44.617495
1413   -44.617495
Name: Longitude, dtype: float64

In [44]:
entradaM=lon23BA.iloc[:,6:9].values #valores infinitos a tratar
saidaM=j.iloc[:,0].values

In [49]:
def clean_lon23BA(entradaM,saidaM):
    assert isinstance(lon23BA,entradaM,saidaM), "df needs to be a pd.DataFrame"
    lon23BA.dropna(inplace=True)
    indices_to_keep = lon23BA.isin([np.nan, np.inf, -np.inf]).any(axis=1)
    return lon23BA[indices_to_keep].astype(np.float64)

In [52]:
modelo=LinearRegression()
modelo.fit(entradaM,saidaM)

ValueError: ignored

In [ ]:
#pergunta= pergunta.reshape(-1, 1) 
# Criação do modelo e treinamento (fit indica que o treinamento deve ser executado)
#modelo = LinearRegression()
#modelo.fit(pergunta, resposta)

In [ ]:
#inclinacao
modelo.coef_

array([-148.74474161])