<a href="https://colab.research.google.com/github/WandersonGustavo/Imersao_Alura_Aula_04/blob/main/dnit_dados2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics  as sts
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [ ]:
from google.colab import files
up=files.upload()

Saving icm_12_2022.csv to icm_12_2022.csv
Saving icm_-01-2023-transparencia.csv to icm_-01-2023-transparencia.csv

In [ ]:
base=pd.read_csv('icm_-01-2023-transparencia.csv',on_bad_lines='skip',sep=";")

In [ ]:
base.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','Observação','ICMNP']

In [ ]:
base2=pd.read_csv('icm_12_2022.csv',on_bad_lines='skip',sep=";")

In [ ]:
base2.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','ICC','ICP','ICM']

In [ ]:
#AGUPAR E EXIBIR DADOS DA BAHIA
dadosBahia22=base2.groupby(['UF'])
dadosBahia22
dadosBahia22.get_group('BA')
lat22BA=dadosBahia22.head(31)

In [ ]:
dadosBahia23=base.groupby(['UF'])
dadosBahia23=dadosBahia23.get_group('BA')
dadosBahia23.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
count,31,31,31,31,31,31,31,31,0,31
unique,1,1,31,31,6,1,8,8,0,19
top,BA,BR-135,"205,800","206,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
freq,31,31,1,1,24,31,22,22,NaN,6

In [ ]:
#latitude dos trechos baianos
longitude=base.groupby(['Longitude'])
lon23BA=dadosBahia23
lon23BA.Longitude.head(31)
lon23BA.describe

<bound method NDFrame.describe of       UF Rodovia km inicial km final Extensão (km)        Data     Latitude  \
1383  BA  BR-135    205,800  206,000         0,200  24/01/2023  -12,3564116
1384  BA  BR-135    206,000  207,000         1,000  24/01/2023  -12,3693466
1385  BA  BR-135    207,000  208,000         1,000  24/01/2023  -12,3693466
1386  BA  BR-135    208,000  209,000         1,000  24/01/2023  -12,3693466
1387  BA  BR-135    209,000  210,000         1,000  24/01/2023  -12,3693466
1388  BA  BR-135    210,000  211,000         1,000  24/01/2023  -12,3693466
1389  BA  BR-135    211,000  212,000         1,000  24/01/2023  -12,3693466
1390  BA  BR-135    212,000  213,000         1,000  24/01/2023  -12,3693466
1391  BA  BR-135    213,000  214,000         1,000  24/01/2023  -12,3693466
1392  BA  BR-135    214,000  215,000         1,000  24/01/2023  -12,3693466
1393  BA  BR-135    215,000  216,000         1,000  24/01/2023  -12,3693466
1394  BA  BR-135    216,000  217,000         1,000  24/01/2023  -12,3693466
1395  BA  BR-135    217,000  218,000         1,000  24/01/2023  -12,3693466
1396  BA  BR-135    218,000  219,000         1,000  24/01/2023  -12,3693466
1397  BA  BR-135    219,000  220,000         1,000  24/01/2023  -12,3693466
1398  BA  BR-135    220,000  221,000         1,000  24/01/2023  -12,3693466
1399  BA  BR-135    221,000  222,000         1,000  24/01/2023  -12,3693466
1400  BA  BR-135    222,000  223,000         1,000  24/01/2023  -12,3693466
1401  BA  BR-135    223,000  224,000         1,000  24/01/2023  -12,3693466
1402  BA  BR-135    224,000  225,000         1,000  24/01/2023  -12,3693466
1403  BA  BR-135    225,000  226,000         1,000  24/01/2023  -12,3693466
1404  BA  BR-135    226,000  227,000         1,000  24/01/2023  -12,3693466
1405  BA  BR-135    227,000  228,000         1,000  24/01/2023  -12,3693466
1406  BA  BR-135    306,500  307,000         0,500  24/01/2023  -13,0440416
1407  BA  BR-135    307,000  307,100         0,100  24/01/2023  -13,0459504
1408  BA  BR-135    319,800  320,000         0,200  24/01/2023  -13,1542816
1409  BA  BR-135    320,000  321,000         1,000  24/01/2023  -13,1573666
1410  BA  BR-135    321,000  321,200         0,200  24/01/2023  -13,1573666
1411  BA  BR-135    323,400  324,000         0,600  24/01/2023   -13,165705
1412  BA  BR-135    324,000  325,000         1,000  24/01/2023  -13,1830766
1413  BA  BR-135    325,000  325,300         0,300  24/01/2023  -13,1830766

        Longitude Observação   ICMNP
1383  -44,9800283        NaN  30,000
1384    -44,97331        NaN  35,000
1385    -44,97331        NaN  53,750
1386    -44,97331        NaN  47,500
1387    -44,97331        NaN  50,000
1388    -44,97331        NaN  53,750
1389    -44,97331        NaN  65,000
1390    -44,97331        NaN  76,250
1391    -44,97331        NaN  61,250
1392    -44,97331        NaN  76,250
1393    -44,97331        NaN  68,750
1394    -44,97331        NaN  71,250
1395    -44,97331        NaN  76,250
1396    -44,97331        NaN  68,750
1397    -44,97331        NaN  83,750
1398    -44,97331        NaN  72,500
1399    -44,97331        NaN  76,250
1400    -44,97331        NaN  73,750
1401    -44,97331        NaN  83,750
1402    -44,97331        NaN  72,500
1403    -44,97331        NaN  76,250
1404    -44,97331        NaN  66,250
1405    -44,97331        NaN  76,250
1406   -44,621948        NaN   0,000
1407  -44,6228495        NaN   0,000
1408  -44,6166333        NaN   3,750
1409  -44,6161683        NaN   3,750
1410  -44,6161683        NaN   3,750
1411  -44,6122983        NaN  52,500
1412   -44,617495        NaN  20,000
1413   -44,617495        NaN  17,500  >

In [ ]:

icmnp=base.groupby(['ICMNP'])
i23BA=dadosBahia23
#lat23BA.Latitude.head(31)
i23BA.describe

<bound method NDFrame.describe of       UF Rodovia km inicial km final Extensão (km)        Data     Latitude  \
1383  BA  BR-135    205,800  206,000         0,200  24/01/2023  -12,3564116
1384  BA  BR-135    206,000  207,000         1,000  24/01/2023  -12,3693466
1385  BA  BR-135    207,000  208,000         1,000  24/01/2023  -12,3693466
1386  BA  BR-135    208,000  209,000         1,000  24/01/2023  -12,3693466
1387  BA  BR-135    209,000  210,000         1,000  24/01/2023  -12,3693466
1388  BA  BR-135    210,000  211,000         1,000  24/01/2023  -12,3693466
1389  BA  BR-135    211,000  212,000         1,000  24/01/2023  -12,3693466
1390  BA  BR-135    212,000  213,000         1,000  24/01/2023  -12,3693466
1391  BA  BR-135    213,000  214,000         1,000  24/01/2023  -12,3693466
1392  BA  BR-135    214,000  215,000         1,000  24/01/2023  -12,3693466
1393  BA  BR-135    215,000  216,000         1,000  24/01/2023  -12,3693466
1394  BA  BR-135    216,000  217,000         1,000  24/01/2023  -12,3693466
1395  BA  BR-135    217,000  218,000         1,000  24/01/2023  -12,3693466
1396  BA  BR-135    218,000  219,000         1,000  24/01/2023  -12,3693466
1397  BA  BR-135    219,000  220,000         1,000  24/01/2023  -12,3693466
1398  BA  BR-135    220,000  221,000         1,000  24/01/2023  -12,3693466
1399  BA  BR-135    221,000  222,000         1,000  24/01/2023  -12,3693466
1400  BA  BR-135    222,000  223,000         1,000  24/01/2023  -12,3693466
1401  BA  BR-135    223,000  224,000         1,000  24/01/2023  -12,3693466
1402  BA  BR-135    224,000  225,000         1,000  24/01/2023  -12,3693466
1403  BA  BR-135    225,000  226,000         1,000  24/01/2023  -12,3693466
1404  BA  BR-135    226,000  227,000         1,000  24/01/2023  -12,3693466
1405  BA  BR-135    227,000  228,000         1,000  24/01/2023  -12,3693466
1406  BA  BR-135    306,500  307,000         0,500  24/01/2023  -13,0440416
1407  BA  BR-135    307,000  307,100         0,100  24/01/2023  -13,0459504
1408  BA  BR-135    319,800  320,000         0,200  24/01/2023  -13,1542816
1409  BA  BR-135    320,000  321,000         1,000  24/01/2023  -13,1573666
1410  BA  BR-135    321,000  321,200         0,200  24/01/2023  -13,1573666
1411  BA  BR-135    323,400  324,000         0,600  24/01/2023   -13,165705
1412  BA  BR-135    324,000  325,000         1,000  24/01/2023  -13,1830766
1413  BA  BR-135    325,000  325,300         0,300  24/01/2023  -13,1830766

        Longitude Observação   ICMNP
1383  -44,9800283        NaN  30,000
1384    -44,97331        NaN  35,000
1385    -44,97331        NaN  53,750
1386    -44,97331        NaN  47,500
1387    -44,97331        NaN  50,000
1388    -44,97331        NaN  53,750
1389    -44,97331        NaN  65,000
1390    -44,97331        NaN  76,250
1391    -44,97331        NaN  61,250
1392    -44,97331        NaN  76,250
1393    -44,97331        NaN  68,750
1394    -44,97331        NaN  71,250
1395    -44,97331        NaN  76,250
1396    -44,97331        NaN  68,750
1397    -44,97331        NaN  83,750
1398    -44,97331        NaN  72,500
1399    -44,97331        NaN  76,250
1400    -44,97331        NaN  73,750
1401    -44,97331        NaN  83,750
1402    -44,97331        NaN  72,500
1403    -44,97331        NaN  76,250
1404    -44,97331        NaN  66,250
1405    -44,97331        NaN  76,250
1406   -44,621948        NaN   0,000
1407  -44,6228495        NaN   0,000
1408  -44,6166333        NaN   3,750
1409  -44,6161683        NaN   3,750
1410  -44,6161683        NaN   3,750
1411  -44,6122983        NaN  52,500
1412   -44,617495        NaN  20,000
1413   -44,617495        NaN  17,500  >

In [ ]:
dadosBahia22=base2.groupby(['UF'])
dadosBahia22=lat22BA
dadosBahia22.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
count,714,714,714,714,714,714,714,714,714,714,714
unique,24,24,404,392,17,16,238,236,20,32,117
top,MS,BR-101,"2,000","1,000","1,000",06/12/2022,0,0,"25,000","0,000","7,500"
freq,31,93,11,11,679,124,75,75,229,201,62

In [ ]:
icm=base2.groupby(['ICM'])
icm22BA=dadosBahia22.describe()
#icm22BA.ICM.head(31)

In [ ]:
base2['ICM'].isnull().sum()

5

In [ ]:
#
a="12,5"
b=a.replace(",",".")
b1=float(b)
b1

12.5

In [ ]:
#TRANSFORMAÇÃO DOS DADOS DE STRING PRA FLOAT AGR PODE CORRELACIONAR
#i23BA['ICMNP']=i23BA['ICMNP'].apply(lambda x: str(x).replace(",",".") )
#i23BA=i23BA['ICMNP'].replace(",",".")
#i23BA.astype('Float64')
i23BA.describe

<bound method NDFrame.describe of       UF Rodovia km inicial km final Extensão (km)        Data     Latitude  \
1383  BA  BR-135    205,800  206,000         0,200  24/01/2023  -12,3564116
1384  BA  BR-135    206,000  207,000         1,000  24/01/2023  -12,3693466
1385  BA  BR-135    207,000  208,000         1,000  24/01/2023  -12,3693466
1386  BA  BR-135    208,000  209,000         1,000  24/01/2023  -12,3693466
1387  BA  BR-135    209,000  210,000         1,000  24/01/2023  -12,3693466
1388  BA  BR-135    210,000  211,000         1,000  24/01/2023  -12,3693466
1389  BA  BR-135    211,000  212,000         1,000  24/01/2023  -12,3693466
1390  BA  BR-135    212,000  213,000         1,000  24/01/2023  -12,3693466
1391  BA  BR-135    213,000  214,000         1,000  24/01/2023  -12,3693466
1392  BA  BR-135    214,000  215,000         1,000  24/01/2023  -12,3693466
1393  BA  BR-135    215,000  216,000         1,000  24/01/2023  -12,3693466
1394  BA  BR-135    216,000  217,000         1,000  24/01/2023  -12,3693466
1395  BA  BR-135    217,000  218,000         1,000  24/01/2023  -12,3693466
1396  BA  BR-135    218,000  219,000         1,000  24/01/2023  -12,3693466
1397  BA  BR-135    219,000  220,000         1,000  24/01/2023  -12,3693466
1398  BA  BR-135    220,000  221,000         1,000  24/01/2023  -12,3693466
1399  BA  BR-135    221,000  222,000         1,000  24/01/2023  -12,3693466
1400  BA  BR-135    222,000  223,000         1,000  24/01/2023  -12,3693466
1401  BA  BR-135    223,000  224,000         1,000  24/01/2023  -12,3693466
1402  BA  BR-135    224,000  225,000         1,000  24/01/2023  -12,3693466
1403  BA  BR-135    225,000  226,000         1,000  24/01/2023  -12,3693466
1404  BA  BR-135    226,000  227,000         1,000  24/01/2023  -12,3693466
1405  BA  BR-135    227,000  228,000         1,000  24/01/2023  -12,3693466
1406  BA  BR-135    306,500  307,000         0,500  24/01/2023  -13,0440416
1407  BA  BR-135    307,000  307,100         0,100  24/01/2023  -13,0459504
1408  BA  BR-135    319,800  320,000         0,200  24/01/2023  -13,1542816
1409  BA  BR-135    320,000  321,000         1,000  24/01/2023  -13,1573666
1410  BA  BR-135    321,000  321,200         0,200  24/01/2023  -13,1573666
1411  BA  BR-135    323,400  324,000         0,600  24/01/2023   -13,165705
1412  BA  BR-135    324,000  325,000         1,000  24/01/2023  -13,1830766
1413  BA  BR-135    325,000  325,300         0,300  24/01/2023  -13,1830766

        Longitude Observação   ICMNP
1383  -44,9800283        NaN  30,000
1384    -44,97331        NaN  35,000
1385    -44,97331        NaN  53,750
1386    -44,97331        NaN  47,500
1387    -44,97331        NaN  50,000
1388    -44,97331        NaN  53,750
1389    -44,97331        NaN  65,000
1390    -44,97331        NaN  76,250
1391    -44,97331        NaN  61,250
1392    -44,97331        NaN  76,250
1393    -44,97331        NaN  68,750
1394    -44,97331        NaN  71,250
1395    -44,97331        NaN  76,250
1396    -44,97331        NaN  68,750
1397    -44,97331        NaN  83,750
1398    -44,97331        NaN  72,500
1399    -44,97331        NaN  76,250
1400    -44,97331        NaN  73,750
1401    -44,97331        NaN  83,750
1402    -44,97331        NaN  72,500
1403    -44,97331        NaN  76,250
1404    -44,97331        NaN  66,250
1405    -44,97331        NaN  76,250
1406   -44,621948        NaN   0,000
1407  -44,6228495        NaN   0,000
1408  -44,6166333        NaN   3,750
1409  -44,6161683        NaN   3,750
1410  -44,6161683        NaN   3,750
1411  -44,6122983        NaN  52,500
1412   -44,617495        NaN  20,000
1413   -44,617495        NaN  17,500  >

In [ ]:
#******************************************''DADOS DE 2022 ABAIXO''***********************************************************************
#lon23BA['Longitude']=lon23BA['Longitude'].apply(lambda x: str(x).replace(",",".") )
#lon23BA['Longitude']=lon23BA['Longitude'].astype('float64')

In [ ]:
lon23BA.drop('Rodovia',axis=1)
#lon23BA.loc[:,7]=lon23BA.astype('float64')

In [ ]:
lon23BA.drop('Rodovia',axis=1)

,UF,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
1383,BA,"205,800","206,000","0,200",24/01/2023,"-12,3564116","-44,9800283",NaN,"30,000"
1384,BA,"206,000","207,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"35,000"
1385,BA,"207,000","208,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"53,750"
1386,BA,"208,000","209,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"47,500"
1387,BA,"209,000","210,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"50,000"
1388,BA,"210,000","211,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"53,750"
1389,BA,"211,000","212,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"65,000"
1390,BA,"212,000","213,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1391,BA,"213,000","214,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"61,250"
1392,BA,"214,000","215,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1393,BA,"215,000","216,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"68,750"
1394,BA,"216,000","217,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"71,250"
1395,BA,"217,000","218,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1396,BA,"218,000","219,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"68,750"
1397,BA,"219,000","220,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"83,750"
1398,BA,"220,000","221,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"72,500"
1399,BA,"221,000","222,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1400,BA,"222,000","223,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"73,750"
1401,BA,"223,000","224,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"83,750"
1402,BA,"224,000","225,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"72,500"
1403,BA,"225,000","226,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1404,BA,"226,000","227,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"66,250"
1405,BA,"227,000","228,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1406,BA,"306,500","307,000","0,500",24/01/2023,"-13,0440416","-44,621948",NaN,"0,000"
1407,BA,"307,000","307,100","0,100",24/01/2023,"-13,0459504","-44,6228495",NaN,"0,000"
1408,BA,"319,800","320,000","0,200",24/01/2023,"-13,1542816","-44,6166333",NaN,"3,750"
1409,BA,"320,000","321,000","1,000",24/01/2023,"-13,1573666","-44,6161683",NaN,"3,750"
1410,BA,"321,000","321,200","0,200",24/01/2023,"-13,1573666","-44,6161683",NaN,"3,750"
1411,BA,"323,400","324,000","0,600",24/01/2023,"-13,165705","-44,6122983",NaN,"52,500"
1412,BA,"324,000","325,000","1,000",24/01/2023,"-13,1830766","-44,617495",NaN,"20,000"
1413,BA,"325,000","325,300","0,300",24/01/2023,"-13,1830766","-44,617495",NaN,"17,500"

In [ ]:
lon23BA.drop('Observação',axis=1)

In [ ]:
dadosBahia22.dtypes

UF               object
Rodovia          object
km inicial       object
km final         object
Extensão (km)    object
Data             object
Latitude         object
Longitude        object
ICC              object
ICP              object
ICM              object
dtype: object

In [ ]:
dadosBahia22.drop('Rodovia',axis=1)

,UF,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
3,UF,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
6,PA,"115,000","116,000","1,000",23/12/2022,"-5,1413601","-49,3520482","25,000","0,000","7,500"
7,PA,"116,000","117,000","1,000",23/12/2022,"-5,1413601","-49,3520482","25,000","0,000","7,500"
8,PA,"117,000","118,000","1,000",23/12/2022,"-5,1413601","-49,3520482","25,000","0,000","7,500"
9,PA,"118,000","119,000","1,000",23/12/2022,"-5,1413601","-49,3520482","25,000","0,000","7,500"
...,...,...,...,...,...,...,...,...,...,...
36120,AP,"17,000","18,000","1,000",21/12/2022,"0,1779826","-51,1240224","32,500","10,000","16,750"
36121,AP,"18,000","19,000","1,000",21/12/2022,"0,1779826","-51,1240224","32,500","10,000","16,750"
36122,AP,"19,000","20,000","1,000",21/12/2022,"0,1779826","-51,1240224","32,500","10,000","16,750"
36123,AP,"20,000","21,000","1,000",21/12/2022,"0,1779826","-51,1240224","32,500","10,000","16,750"
36124,AP,"21,000","22,000","1,000",21/12/2022,"0,1779826","-51,1240224","32,500","10,000","16,750"

In [ ]:
bahia=dadosBahia22.groupby(['UF'])
bahia=bahia.get_group('BA')
bahia.describe

In [ ]:
bahia.drop('UF',axis=1)

In [ ]:
bahia.drop('Rodovia',axis=1)

In [ ]:
bahia.drop('UF',axis=1)

In [ ]:
lon23BA['ICMNP']=lon23BA['ICMNP'].apply(lambda x: str(x).replace(",",".") )
#lon23BA['Longitude']=lon23BA['Longitude'].astype('float64')

<ipython-input-23-97ce439f0967>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon23BA['ICMNP']=lon23BA['ICMNP'].apply(lambda x: str(x).replace(",",".") )

In [ ]:
lon23BA['ICMNP']=lon23BA['ICMNP'].astype('float64')

In [ ]:
lon23BA.drop('Rodovia',axis=1)

In [ ]:
lon23BA.drop('Observação',axis=1)

In [ ]:
#l=lon23BA[['Longitude']].astype('float64')

In [ ]:
j=lon23BA[['ICMNP']].astype('float64')

In [ ]:
lon23BA['Latitude']=lon23BA['Latitude'].apply(lambda x: str(x).replace(",",".") )

In [ ]:
lon23BA['Latitude'].astype('float64')

In [ ]:
lon23BA['Data'].astype('object')

In [ ]:
lon23BA['Data']=lon23BA['Data'].apply(lambda x: str(x).replace('01','24/01/2023') )

<ipython-input-31-5b5857e65cc9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon23BA['Data']=lon23BA['Data'].apply(lambda x: str(x).replace('01','24/01/2023') )

In [ ]:
pergunta=lon23BA.iloc[:,0].values
resposta=j.iloc[:,0].values

In [ ]:
lon23BA['Data'].describe

In [ ]:
lon23BA['Longitude'].describe

In [ ]:
lon23BA['Longitude']=lon23BA['Longitude'].apply(lambda x: str(x).replace(",",".") )

<ipython-input-35-6cc23db75901>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon23BA['Longitude']=lon23BA['Longitude'].apply(lambda x: str(x).replace(",",".") )

In [ ]:
lon23BA['Longitude'].astype('float64')

In [ ]:

def clean_df(entradaM):
    e=entradaM.reshape(1,-1)
    assert isinstance(e)
    e.dropna(inplace=True)
    indices_to_keep = e.isin([np.nan, np.inf, -np.inf]).any(axis=1)
    return  e[indices_to_keep].astype(np.float64)

In [ ]:

def clean_df2(saidaM):
    s=saidaM.reshape(1,-1)
    assert isinstance(s)
    s.dropna(inplace=True)
    indices_to_keep = s.isin([np.nan, np.inf, -np.inf]).any(axis=1)
    return s[indices_to_keep].astype(np.float64)

In [ ]:
lon23BA.drop(columns=['Observação'])
#print(entradaM)

In [ ]:
bahia

In [ ]:
bahia.drop('UF',axis=1)

In [ ]:
bahia.drop('Rodovia',axis=1)

In [ ]:
bahia.drop('UF',axis=1)

In [ ]:
entradaM=lon23BA.iloc[:,6:8].values #valores infinitos a tratar
saidaM=bahia.iloc[:,7:9].values

In [ ]:
np.column_stack((entradaM,saidaM))

In [64]:
bahia['ICC']=bahia['ICC'].apply(lambda x: str(x).replace(",",".") )

<ipython-input-64-f74a8b074abf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bahia['ICC']=bahia['ICC'].apply(lambda x: str(x).replace(",",".") )

In [ ]:
bahia['ICC']=bahia['ICC'].apply(lambda x: str(x).replace(",",".") )

In [ ]:
np.corrcoef(entradaM,saidaM)