<a href="https://colab.research.google.com/github/WandersonGustavo/Imersao_Alura_Aula_04/blob/main/dnit_dados2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from yellowbrick.regressor import ResidualsPlot 
import statsmodels.formula.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [ ]:
base=pd.read_csv('icm_-01-2023-transparencia.csv',on_bad_lines='skip',sep=";")

In [ ]:
base.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','Observação','ICMNP']

In [ ]:
base2=pd.read_csv('icm_12_2022.csv',on_bad_lines='skip',sep=";")

In [ ]:
base2.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','ICC','ICP','ICM']
base2

In [ ]:
#AGUPAR E EXIBIR DADOS DA BAHIA
dadosBahia22=base2.groupby(['UF'])
dadosBahia22
dadosBahia22.get_group('BA')

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
9511,BA,BR-242,"538,500","539,000","0,500",08/12/2022,"-12,195745","-43,70278","65,000","20,000","33,500"
9512,BA,BR-242,"539,000","540,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9513,BA,BR-242,"540,000","541,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9514,BA,BR-242,"541,000","542,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","7,500","17,250"
9515,BA,BR-242,"542,000","543,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","40,000","40,000"
...,...,...,...,...,...,...,...,...,...,...,...
39526,BA,BR-110,"400,000","401,000","1,000",19/12/2022,"-12,5485947","-38,515748","80,000","62,500","67,750"
39527,BA,BR-110,"401,000","402,000","1,000",19/12/2022,"-12,5548502","-38,5212984","90,000","40,000","55,000"
39528,BA,BR-110,"402,000","403,000","1,000",19/12/2022,"-12,5615527","-38,5266557","80,000","75,000","76,500"
39529,BA,BR-110,"403,000","404,000","1,000",19/12/2022,"-12,5665576","-38,5334718","80,000","62,500","67,750"
39530,BA,BR-110,"404,000","404,600","0,600",19/12/2022,"-12,572787","-38,538162","90,000","75,000","79,500"

In [ ]:
base.drop

In [ ]:
#localizacao por coord e icm como desfecho
 #mes&ano combinados

In [ ]:
dadosBahia23=base.groupby(['UF'])
dadosBahia23=dadosBahia23.get_group('BA')
dadosBahia23.head(31)

In [ ]:
#latitude dos trechos baianos
latitude=base.groupby(['Latitude'])
lat23BA=dadosBahia23.get_group('BA')
lat23BA.Latitude.head(31)

In [ ]:
#longitude dos trechos baianos
latitude22=base2.groupby(['Latitude'])
lat22BA=dadosBahia22.get_group('BA')
lat22BA.Latitude.head(31)

In [ ]:
#definndo as lattudes como relacao de entrada e saida por mes
entrada22= base2.iloc[:,6].values
saida23 = base.iloc[:,6].values