<a href="https://colab.research.google.com/github/WandersonGustavo/Imersao_Alura_Aula_04/blob/main/dnit_dados2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from yellowbrick.regressor import ResidualsPlot 
import statsmodels.formula.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [ ]:
base=pd.read_csv('icm_-01-2023-transparencia.csv',on_bad_lines='skip',sep=";")

In [ ]:
base.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','Observação','ICMNP']

In [ ]:
base

In [ ]:
base2=pd.read_csv('icm_12_2022.csv',on_bad_lines='skip',sep=";")

In [ ]:
base2.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','ICC','ICP','ICM']
base2

In [ ]:
#AGUPAR E EXIBIR DADOS DA BAHIA
dadosBahia22=base.groupby(['UF'])
dadosBahia22
dadosBahia22.get_group('BA')

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
1383,BA,BR-135,"205,800","206,000","0,200",24/01/2023,"-12,3564116","-44,9800283",NaN,"30,000"
1384,BA,BR-135,"206,000","207,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"35,000"
1385,BA,BR-135,"207,000","208,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"53,750"
1386,BA,BR-135,"208,000","209,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"47,500"
1387,BA,BR-135,"209,000","210,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"50,000"
1388,BA,BR-135,"210,000","211,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"53,750"
1389,BA,BR-135,"211,000","212,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"65,000"
1390,BA,BR-135,"212,000","213,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1391,BA,BR-135,"213,000","214,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"61,250"
1392,BA,BR-135,"214,000","215,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1393,BA,BR-135,"215,000","216,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"68,750"
1394,BA,BR-135,"216,000","217,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"71,250"
1395,BA,BR-135,"217,000","218,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1396,BA,BR-135,"218,000","219,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"68,750"
1397,BA,BR-135,"219,000","220,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"83,750"
1398,BA,BR-135,"220,000","221,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"72,500"
1399,BA,BR-135,"221,000","222,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1400,BA,BR-135,"222,000","223,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"73,750"
1401,BA,BR-135,"223,000","224,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"83,750"
1402,BA,BR-135,"224,000","225,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"72,500"
1403,BA,BR-135,"225,000","226,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1404,BA,BR-135,"226,000","227,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"66,250"
1405,BA,BR-135,"227,000","228,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
1406,BA,BR-135,"306,500","307,000","0,500",24/01/2023,"-13,0440416","-44,621948",NaN,"0,000"
1407,BA,BR-135,"307,000","307,100","0,100",24/01/2023,"-13,0459504","-44,6228495",NaN,"0,000"
1408,BA,BR-135,"319,800","320,000","0,200",24/01/2023,"-13,1542816","-44,6166333",NaN,"3,750"
1409,BA,BR-135,"320,000","321,000","1,000",24/01/2023,"-13,1573666","-44,6161683",NaN,"3,750"
1410,BA,BR-135,"321,000","321,200","0,200",24/01/2023,"-13,1573666","-44,6161683",NaN,"3,750"
1411,BA,BR-135,"323,400","324,000","0,600",24/01/2023,"-13,165705","-44,6122983",NaN,"52,500"
1412,BA,BR-135,"324,000","325,000","1,000",24/01/2023,"-13,1830766","-44,617495",NaN,"20,000"
1413,BA,BR-135,"325,000","325,300","0,300",24/01/2023,"-13,1830766","-44,617495",NaN,"17,500"

In [ ]:
base.drop

In [ ]:
#localizacao por coord e icm como desfecho
 #mes&ano combinados

In [ ]:
dadosBahia23=base2.groupby(['UF'])
dadosBahia23=dadosBahia23.get_group('BA')
dadosBahia23.head(31)

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
9511,BA,BR-242,"538,500","539,000","0,500",08/12/2022,"-12,195745","-43,70278","65,000","20,000","33,500"
9512,BA,BR-242,"539,000","540,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9513,BA,BR-242,"540,000","541,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9514,BA,BR-242,"541,000","542,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","7,500","17,250"
9515,BA,BR-242,"542,000","543,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","40,000","40,000"
9516,BA,BR-242,"543,000","544,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","50,000","47,000"
9517,BA,BR-242,"544,000","545,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","50,000","47,000"
9518,BA,BR-242,"545,000","546,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","52,500","48,750"
9519,BA,BR-242,"546,000","547,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","40,000","40,000"
9520,BA,BR-242,"547,000","548,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","52,500","48,750"
9521,BA,BR-242,"548,000","549,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","10,000","19,000"
9522,BA,BR-242,"549,000","550,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","30,000","33,000"
9523,BA,BR-242,"550,000","551,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","22,500","27,750"
9524,BA,BR-242,"551,000","552,000","1,000",08/12/2022,"-12,2463916","-42,7666333","50,000","5,000","18,500"
9525,BA,BR-242,"552,000","553,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","35,000","36,500"
9526,BA,BR-242,"553,000","554,000","1,000",08/12/2022,"-12,2463916","-42,7666333","32,500","10,000","16,750"
9527,BA,BR-242,"554,000","555,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","25,000","29,500"
9528,BA,BR-242,"555,000","556,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","50,000","47,000"
9529,BA,BR-242,"556,000","557,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","10,000","19,000"
9530,BA,BR-242,"557,000","558,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","20,000","26,000"
9531,BA,BR-242,"558,000","559,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","77,500","66,250"
9532,BA,BR-242,"559,000","560,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","0,000","12,000"
9533,BA,BR-242,"560,000","561,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","0,000","12,000"
9534,BA,BR-242,"561,000","562,000","1,000",08/12/2022,"-12,2463916","-42,7666333","42,500","12,500","21,500"
9535,BA,BR-242,"562,000","563,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9536,BA,BR-242,"563,000","564,000","1,000",08/12/2022,"-12,2463916","-42,7666333","32,500","5,000","13,250"
9537,BA,BR-242,"564,000","565,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","100,000","82,000"
9538,BA,BR-242,"565,000","566,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","35,000","36,500"
9539,BA,BR-242,"566,000","567,000","1,000",08/12/2022,"-12,2463916","-42,7666333","50,000","20,000","29,000"
9540,BA,BR-242,"567,000","568,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","12,500","20,750"
9541,BA,BR-242,"568,000","569,000","1,000",08/12/2022,"-12,2463916","-42,7666333","50,000","50,000","50,000"

In [ ]:
#dadosBahia22=base2.groupby(['Latitude'])
#longitude=dadosBahia23.groupby(['Longitude'])
dadosBahia23['Longitude']
#longitude.head(31)

9511       -43,70278
9512     -42,7666333
9513     -42,7666333
9514     -42,7666333
9515     -42,7666333
            ...
39526     -38,515748
39527    -38,5212984
39528    -38,5266557
39529    -38,5334718
39530     -38,538162
Name: Longitude, Length: 4133, dtype: object

In [ ]:
latitude=dadosBahia23.groupby(['Latitude'])
#longBA=dadosBahia23.groupby('BA')
latitude.Latitude.describe()

            count unique          top freq
Latitude
-10,0019944     1      1  -10,0019944    1
-10,0051034     1      1  -10,0051034    1
-10,0054682     1      1  -10,0054682    1
-10,0061702    13      1  -10,0061702   13
-10,0066161     1      1  -10,0066161    1
...           ...    ...          ...  ...
-9,9014676     28      1   -9,9014676   28
-9,9060728      1      1   -9,9060728    1
-9,9096338      7      1   -9,9096338    7
-9,9832762      1      1   -9,9832762    1
0               1      1            0    1

[863 rows x 4 columns]