<a href="https://colab.research.google.com/github/WandersonGustavo/Imersao_Alura_Aula_04/blob/main/dnit_dados2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics  as sts
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [3]:
from google.colab import files
up=files.upload()

Saving icm_12_2022.csv to icm_12_2022 (1).csv
Saving icm_-01-2023-transparencia.csv to icm_-01-2023-transparencia.csv

In [4]:
base=pd.read_csv('icm_-01-2023-transparencia.csv',on_bad_lines='skip',sep=";")

In [5]:
base.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','Observação','ICMNP']

In [6]:
base2=pd.read_csv('icm_12_2022.csv',on_bad_lines='skip',sep=";")

In [7]:
base2.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','ICC','ICP','ICM']

In [8]:
#AGUPAR E EXIBIR DADOS DA BAHIA
dadosBahia22=base2.groupby(['UF'])
dadosBahia22
dadosBahia22.get_group('BA')
lat22BA=dadosBahia22.head(31)

In [9]:
dadosBahia23=base.groupby(['UF'])
dadosBahia23=dadosBahia23.get_group('BA')
dadosBahia23.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
count,31,31,31,31,31,31,31,31,0,31
unique,1,1,31,31,6,1,8,8,0,19
top,BA,BR-135,"205,800","206,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
freq,31,31,1,1,24,31,22,22,NaN,6

In [ ]:
#latitude dos trechos baianos
longitude=base.groupby(['Longitude'])
lon23BA=dadosBahia23
lon23BA.Longitude.head(31)
lon23BA.describe

In [ ]:

icmnp=base.groupby(['ICMNP'])
i23BA=dadosBahia23
#lat23BA.Latitude.head(31)
i23BA.describe

In [ ]:
dadosBahia22=base2.groupby(['UF'])
dadosBahia22=lat22BA
dadosBahia22.describe()

In [13]:
icm=base2.groupby(['ICM'])
icm22BA=dadosBahia22.describe()
#icm22BA.ICM.head(31)

In [14]:
base2['ICM'].isnull().sum()

5

In [ ]:
#
a="12,5"
b=a.replace(",",".")
b1=float(b)
b1

12.5

In [ ]:
#TRANSFORMAÇÃO DOS DADOS DE STRING PRA FLOAT AGR PODE CORRELACIONAR
#i23BA['ICMNP']=i23BA['ICMNP'].apply(lambda x: str(x).replace(",",".") )
#i23BA=i23BA['ICMNP'].replace(",",".")
#i23BA.astype('Float64')
i23BA.describe

In [ ]:
#******************************************''DADOS DE 2022 ABAIXO''***********************************************************************
#lon23BA['Longitude']=lon23BA['Longitude'].apply(lambda x: str(x).replace(",",".") )
#lon23BA['Longitude']=lon23BA['Longitude'].astype('float64')

In [ ]:
lon23BA.drop('Rodovia',axis=1)
#lon23BA.loc[:,7]=lon23BA.astype('float64')

In [ ]:
lon23BA.drop('Rodovia',axis=1)

In [ ]:
lon23BA.drop('Observação',axis=1)

In [ ]:
dadosBahia22.dtypes

In [ ]:
dadosBahia22.drop('Rodovia',axis=1)

In [ ]:
bahia=dadosBahia22.groupby(['UF'])
bahia=bahia.get_group('BA')
bahia.describe

In [ ]:
bahia.drop('UF',axis=1)

In [ ]:
bahia.drop('Rodovia',axis=1)

In [ ]:
bahia.drop('UF',axis=1)

In [25]:
lon23BA['ICMNP']=lon23BA['ICMNP'].apply(lambda x: str(x).replace(",",".") )
#lon23BA['Longitude']=lon23BA['Longitude'].astype('float64')

<ipython-input-25-97ce439f0967>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon23BA['ICMNP']=lon23BA['ICMNP'].apply(lambda x: str(x).replace(",",".") )

In [26]:
lon23BA['ICMNP']=lon23BA['ICMNP'].astype('float64')

<ipython-input-26-f7b53a27c5d3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon23BA['ICMNP']=lon23BA['ICMNP'].astype('float64')

In [ ]:
lon23BA.drop('Rodovia',axis=1)

In [ ]:
lon23BA.drop('Observação',axis=1)

In [ ]:
#l=lon23BA[['Longitude']].astype('float64')

In [29]:
j=lon23BA[['ICMNP']].astype('float64')

In [ ]:
lon23BA['Latitude']=lon23BA['Latitude'].apply(lambda x: str(x).replace(",",".") )

In [ ]:
lon23BA['Latitude'].astype('float64')

In [ ]:
lon23BA['Data'].astype('object')

In [33]:
lon23BA['Data']=lon23BA['Data'].apply(lambda x: str(x).replace('01','24/01/2023') )

<ipython-input-33-5b5857e65cc9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon23BA['Data']=lon23BA['Data'].apply(lambda x: str(x).replace('01','24/01/2023') )

In [34]:
pergunta=lon23BA.iloc[:,0].values
resposta=j.iloc[:,0].values

In [ ]:
lon23BA['Data'].describe

In [ ]:
lon23BA['Longitude'].describe

In [37]:
lon23BA['Longitude']=lon23BA['Longitude'].apply(lambda x: str(x).replace(",",".") )

<ipython-input-37-6cc23db75901>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon23BA['Longitude']=lon23BA['Longitude'].apply(lambda x: str(x).replace(",",".") )

In [ ]:
lon23BA['Longitude'].astype('float64')

In [39]:

def clean_df(entradaM):
    e=entradaM.reshape(1,-1)
    assert isinstance(e)
    e.dropna(inplace=True)
    indices_to_keep = e.isin([np.nan, np.inf, -np.inf]).any(axis=1)
    return  e[indices_to_keep].astype(np.float64)

In [40]:

def clean_df2(saidaM):
    s=saidaM.reshape(1,-1)
    assert isinstance(s)
    s.dropna(inplace=True)
    indices_to_keep = s.isin([np.nan, np.inf, -np.inf]).any(axis=1)
    return s[indices_to_keep].astype(np.float64)

In [ ]:
lon23BA.drop(columns=['Observação'])
#print(entradaM)

In [ ]:
bahia

In [ ]:
bahia.drop('UF',axis=1)

In [ ]:
bahia.drop('Rodovia',axis=1)

In [ ]:
bahia.drop('UF',axis=1)

In [49]:
bahia['ICC']=bahia['ICC'].apply(lambda x: str(x).replace(",",".") )

<ipython-input-49-f74a8b074abf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bahia['ICC']=bahia['ICC'].apply(lambda x: str(x).replace(",",".") )

In [52]:
bahia['ICP']=bahia['ICP'].apply(lambda x: str(x).replace(",",".") )

<ipython-input-52-da1e327eb4ec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bahia['ICP']=bahia['ICP'].apply(lambda x: str(x).replace(",",".") )

In [53]:
bahia['ICM']=bahia['ICM'].apply(lambda x: str(x).replace(",",".") )

<ipython-input-53-a850a8e51687>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bahia['ICM']=bahia['ICM'].apply(lambda x: str(x).replace(",",".") )

In [ ]:
bahia

In [ ]:
bahia['ICC'].astype('float64')

In [ ]:
bahia['ICM'].astype('float64')

In [ ]:
bahia['ICP'].astype('float64')

In [ ]:
#np.column_stack((entradaM,saidaM))

In [ ]:
bahia.drop(columns=['UF','Rodovia','Data'])

In [ ]:
bahia['Longitude']=bahia['Longitude'].apply(lambda x: str(x).replace(",",".") )

In [ ]:
bahia['Longitude'].astype('float64')

In [ ]:
bahia['Latitude']=bahia['Latitude'].apply(lambda x: str(x).replace(",",".") )

In [ ]:
bahia['Latitude'].astype('float64')

In [ ]:
bahia['km inicial']=bahia['km inicial'].apply(lambda x: str(x).replace(",",".") )

In [ ]:
bahia['km inicial'].astype('float64')

In [ ]:
bahia['km final']=bahia['km final'].apply(lambda x: str(x).replace(",",".") )

In [ ]:
bahia['km final'].astype('float64')

In [ ]:
bahia['Extensão (km)']=bahia['Extensão (km)'].apply(lambda x: str(x).replace(",",".") )

In [ ]:
bahia['Extensão (km)'].astype('float64')

In [94]:
entradaM=bahia.iloc[:,6:8].values #6:8
saidaM=lon23BA.iloc[:,6:8].values#7:9

In [95]:
bahia

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
9511,BA,BR-242,538.500,539.000,0.500,08/12/2022,-12.195745,-43.70278,65.000,20.000,33.500
9512,BA,BR-242,539.000,540.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,5.000,15.500
9513,BA,BR-242,540.000,541.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,5.000,15.500
9514,BA,BR-242,541.000,542.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,7.500,17.250
9515,BA,BR-242,542.000,543.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,40.000,40.000
9516,BA,BR-242,543.000,544.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,50.000,47.000
9517,BA,BR-242,544.000,545.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,50.000,47.000
9518,BA,BR-242,545.000,546.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,52.500,48.750
9519,BA,BR-242,546.000,547.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,40.000,40.000
9520,BA,BR-242,547.000,548.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,52.500,48.750
9521,BA,BR-242,548.000,549.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,10.000,19.000
9522,BA,BR-242,549.000,550.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,30.000,33.000
9523,BA,BR-242,550.000,551.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,22.500,27.750
9524,BA,BR-242,551.000,552.000,1.000,08/12/2022,-12.2463916,-42.7666333,50.000,5.000,18.500
9525,BA,BR-242,552.000,553.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,35.000,36.500
9526,BA,BR-242,553.000,554.000,1.000,08/12/2022,-12.2463916,-42.7666333,32.500,10.000,16.750
9527,BA,BR-242,554.000,555.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,25.000,29.500
9528,BA,BR-242,555.000,556.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,50.000,47.000
9529,BA,BR-242,556.000,557.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,10.000,19.000
9530,BA,BR-242,557.000,558.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,20.000,26.000
9531,BA,BR-242,558.000,559.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,77.500,66.250
9532,BA,BR-242,559.000,560.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,0.000,12.000
9533,BA,BR-242,560.000,561.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,0.000,12.000
9534,BA,BR-242,561.000,562.000,1.000,08/12/2022,-12.2463916,-42.7666333,42.500,12.500,21.500
9535,BA,BR-242,562.000,563.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,5.000,15.500
9536,BA,BR-242,563.000,564.000,1.000,08/12/2022,-12.2463916,-42.7666333,32.500,5.000,13.250
9537,BA,BR-242,564.000,565.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,100.000,82.000
9538,BA,BR-242,565.000,566.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,35.000,36.500
9539,BA,BR-242,566.000,567.000,1.000,08/12/2022,-12.2463916,-42.7666333,50.000,20.000,29.000
9540,BA,BR-242,567.000,568.000,1.000,08/12/2022,-12.2463916,-42.7666333,40.000,12.500,20.750
9541,BA,BR-242,568.000,569.000,1.000,08/12/2022,-12.2463916,-42.7666333,50.000,50.000,50.000

In [85]:
np.corrcoef(entradaM,saidaM)

TypeError: ignored