<a href="https://colab.research.google.com/github/WandersonGustavo/Imersao_Alura_Aula_04/blob/main/dnit_dados2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [3]:
base=pd.read_csv('icm_-01-2023-transparencia.csv',on_bad_lines='skip',sep=";")

In [14]:
base.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','Observação','ICMNP']
base

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3092,TO,BR-242,"501,000","502,000","1,000",16/01/2023,"-8,8440664","-48,5113975",NaN,"58,750"
3093,TO,BR-242,"502,000","503,000","1,000",16/01/2023,"-8,8440664","-48,5113975",NaN,"58,750"
3094,TO,BR-242,"503,000","504,000","1,000",16/01/2023,"-8,8440664","-48,5113975",NaN,"50,000"
3095,TO,BR-242,"504,000","505,000","1,000",16/01/2023,"-8,84417244","-48,511091",NaN,"52,500"
3096,TO,BR-242,"505,000","506,000","1,000",16/01/2023,"-8,84417035","-48,5110786",NaN,"52,500"

In [15]:
base2=pd.read_csv('icm_12_2022.csv',on_bad_lines='skip',sep=";")
base2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
39840,AP,BR-156,"818,000","819,000","1,000",28/12/2022,"3,82531456","-51,7935602","75,000","85,000","82,000"
39841,AP,BR-156,"819,000","820,000","1,000",28/12/2022,"3,83205824","-51,8019846","75,000","75,000","75,000"
39842,AP,BR-156,"820,000","821,000","1,000",28/12/2022,"3,83662198","-51,8120698","75,000","40,000","50,500"
39843,AP,BR-156,"821,000","822,000","1,000",28/12/2022,"3,83734363","-51,8140665","75,000","90,000","85,500"
39844,AP,BR-156,"822,000","823,000","1,000",28/12/2022,"3,85140999","-51,8232939","75,000","90,000","85,500"

In [16]:
base2.columns=['UF','Rodovia','km inicial','km final','Extensão (km)','Data','Latitude','Longitude','ICC','ICP','ICM']
base2

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
39840,AP,BR-156,"818,000","819,000","1,000",28/12/2022,"3,82531456","-51,7935602","75,000","85,000","82,000"
39841,AP,BR-156,"819,000","820,000","1,000",28/12/2022,"3,83205824","-51,8019846","75,000","75,000","75,000"
39842,AP,BR-156,"820,000","821,000","1,000",28/12/2022,"3,83662198","-51,8120698","75,000","40,000","50,500"
39843,AP,BR-156,"821,000","822,000","1,000",28/12/2022,"3,83734363","-51,8140665","75,000","90,000","85,500"
39844,AP,BR-156,"822,000","823,000","1,000",28/12/2022,"3,85140999","-51,8232939","75,000","90,000","85,500"

In [17]:
base

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3092,TO,BR-242,"501,000","502,000","1,000",16/01/2023,"-8,8440664","-48,5113975",NaN,"58,750"
3093,TO,BR-242,"502,000","503,000","1,000",16/01/2023,"-8,8440664","-48,5113975",NaN,"58,750"
3094,TO,BR-242,"503,000","504,000","1,000",16/01/2023,"-8,8440664","-48,5113975",NaN,"50,000"
3095,TO,BR-242,"504,000","505,000","1,000",16/01/2023,"-8,84417244","-48,511091",NaN,"52,500"
3096,TO,BR-242,"505,000","506,000","1,000",16/01/2023,"-8,84417035","-48,5110786",NaN,"52,500"

In [7]:
#AGUPAR E EXIBIR DADOS DA BAHIA
dadosBahia22=base2.groupby(['UF'])
dadosBahia22
dadosBahia22.get_group('BA')

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,ICC,ICP,ICM
9511,BA,BR-242,"538,500","539,000","0,500",08/12/2022,"-12,195745","-43,70278","65,000","20,000","33,500"
9512,BA,BR-242,"539,000","540,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9513,BA,BR-242,"540,000","541,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","5,000","15,500"
9514,BA,BR-242,"541,000","542,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","7,500","17,250"
9515,BA,BR-242,"542,000","543,000","1,000",08/12/2022,"-12,2463916","-42,7666333","40,000","40,000","40,000"
...,...,...,...,...,...,...,...,...,...,...,...
39526,BA,BR-110,"400,000","401,000","1,000",19/12/2022,"-12,5485947","-38,515748","80,000","62,500","67,750"
39527,BA,BR-110,"401,000","402,000","1,000",19/12/2022,"-12,5548502","-38,5212984","90,000","40,000","55,000"
39528,BA,BR-110,"402,000","403,000","1,000",19/12/2022,"-12,5615527","-38,5266557","80,000","75,000","76,500"
39529,BA,BR-110,"403,000","404,000","1,000",19/12/2022,"-12,5665576","-38,5334718","80,000","62,500","67,750"
39530,BA,BR-110,"404,000","404,600","0,600",19/12/2022,"-12,572787","-38,538162","90,000","75,000","79,500"

In [8]:
dadosBahia23=base.groupby(['UF'])
dadosBahia23=dadosBahia23.get_group('BA')
dadosBahia23.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
count,31,31,31,31,31,31,31,31,0,31
unique,1,1,31,31,6,1,8,8,0,19
top,BA,BR-135,"205,800","206,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
freq,31,31,1,1,24,31,22,22,NaN,6

In [64]:
#latitude dos trechos baianos
longitude=base.groupby(['Longitude'])
lon23BA=dadosBahia23
lon23BA.Longitude.head(31)
lon23BA.describe

<bound method NDFrame.describe of       UF Rodovia km inicial km final Extensão (km)        Data     Latitude  \
1383  BA  BR-135    205,800  206,000         0,200  24/01/2023  -12,3564116
1384  BA  BR-135    206,000  207,000         1,000  24/01/2023  -12,3693466
1385  BA  BR-135    207,000  208,000         1,000  24/01/2023  -12,3693466
1386  BA  BR-135    208,000  209,000         1,000  24/01/2023  -12,3693466
1387  BA  BR-135    209,000  210,000         1,000  24/01/2023  -12,3693466
1388  BA  BR-135    210,000  211,000         1,000  24/01/2023  -12,3693466
1389  BA  BR-135    211,000  212,000         1,000  24/01/2023  -12,3693466
1390  BA  BR-135    212,000  213,000         1,000  24/01/2023  -12,3693466
1391  BA  BR-135    213,000  214,000         1,000  24/01/2023  -12,3693466
1392  BA  BR-135    214,000  215,000         1,000  24/01/2023  -12,3693466
1393  BA  BR-135    215,000  216,000         1,000  24/01/2023  -12,3693466
1394  BA  BR-135    216,000  217,000         1,000  24/01/2023  -12,3693466
1395  BA  BR-135    217,000  218,000         1,000  24/01/2023  -12,3693466
1396  BA  BR-135    218,000  219,000         1,000  24/01/2023  -12,3693466
1397  BA  BR-135    219,000  220,000         1,000  24/01/2023  -12,3693466
1398  BA  BR-135    220,000  221,000         1,000  24/01/2023  -12,3693466
1399  BA  BR-135    221,000  222,000         1,000  24/01/2023  -12,3693466
1400  BA  BR-135    222,000  223,000         1,000  24/01/2023  -12,3693466
1401  BA  BR-135    223,000  224,000         1,000  24/01/2023  -12,3693466
1402  BA  BR-135    224,000  225,000         1,000  24/01/2023  -12,3693466
1403  BA  BR-135    225,000  226,000         1,000  24/01/2023  -12,3693466
1404  BA  BR-135    226,000  227,000         1,000  24/01/2023  -12,3693466
1405  BA  BR-135    227,000  228,000         1,000  24/01/2023  -12,3693466
1406  BA  BR-135    306,500  307,000         0,500  24/01/2023  -13,0440416
1407  BA  BR-135    307,000  307,100         0,100  24/01/2023  -13,0459504
1408  BA  BR-135    319,800  320,000         0,200  24/01/2023  -13,1542816
1409  BA  BR-135    320,000  321,000         1,000  24/01/2023  -13,1573666
1410  BA  BR-135    321,000  321,200         0,200  24/01/2023  -13,1573666
1411  BA  BR-135    323,400  324,000         0,600  24/01/2023   -13,165705
1412  BA  BR-135    324,000  325,000         1,000  24/01/2023  -13,1830766
1413  BA  BR-135    325,000  325,300         0,300  24/01/2023  -13,1830766

        Longitude Observação   ICMNP
1383  -44,9800283        NaN  30,000
1384    -44,97331        NaN  35,000
1385    -44,97331        NaN  53,750
1386    -44,97331        NaN  47,500
1387    -44,97331        NaN  50,000
1388    -44,97331        NaN  53,750
1389    -44,97331        NaN  65,000
1390    -44,97331        NaN  76,250
1391    -44,97331        NaN  61,250
1392    -44,97331        NaN  76,250
1393    -44,97331        NaN  68,750
1394    -44,97331        NaN  71,250
1395    -44,97331        NaN  76,250
1396    -44,97331        NaN  68,750
1397    -44,97331        NaN  83,750
1398    -44,97331        NaN  72,500
1399    -44,97331        NaN  76,250
1400    -44,97331        NaN  73,750
1401    -44,97331        NaN  83,750
1402    -44,97331        NaN  72,500
1403    -44,97331        NaN  76,250
1404    -44,97331        NaN  66,250
1405    -44,97331        NaN  76,250
1406   -44,621948        NaN   0,000
1407  -44,6228495        NaN   0,000
1408  -44,6166333        NaN   3,750
1409  -44,6161683        NaN   3,750
1410  -44,6161683        NaN   3,750
1411  -44,6122983        NaN  52,500
1412   -44,617495        NaN  20,000
1413   -44,617495        NaN  17,500  >

In [65]:

latitude=base.groupby(['Latitude'])
lat23BA=dadosBahia23
lat23BA.Latitude.head(31)
lat23BA.describe

<bound method NDFrame.describe of       UF Rodovia km inicial km final Extensão (km)        Data     Latitude  \
1383  BA  BR-135    205,800  206,000         0,200  24/01/2023  -12,3564116
1384  BA  BR-135    206,000  207,000         1,000  24/01/2023  -12,3693466
1385  BA  BR-135    207,000  208,000         1,000  24/01/2023  -12,3693466
1386  BA  BR-135    208,000  209,000         1,000  24/01/2023  -12,3693466
1387  BA  BR-135    209,000  210,000         1,000  24/01/2023  -12,3693466
1388  BA  BR-135    210,000  211,000         1,000  24/01/2023  -12,3693466
1389  BA  BR-135    211,000  212,000         1,000  24/01/2023  -12,3693466
1390  BA  BR-135    212,000  213,000         1,000  24/01/2023  -12,3693466
1391  BA  BR-135    213,000  214,000         1,000  24/01/2023  -12,3693466
1392  BA  BR-135    214,000  215,000         1,000  24/01/2023  -12,3693466
1393  BA  BR-135    215,000  216,000         1,000  24/01/2023  -12,3693466
1394  BA  BR-135    216,000  217,000         1,000  24/01/2023  -12,3693466
1395  BA  BR-135    217,000  218,000         1,000  24/01/2023  -12,3693466
1396  BA  BR-135    218,000  219,000         1,000  24/01/2023  -12,3693466
1397  BA  BR-135    219,000  220,000         1,000  24/01/2023  -12,3693466
1398  BA  BR-135    220,000  221,000         1,000  24/01/2023  -12,3693466
1399  BA  BR-135    221,000  222,000         1,000  24/01/2023  -12,3693466
1400  BA  BR-135    222,000  223,000         1,000  24/01/2023  -12,3693466
1401  BA  BR-135    223,000  224,000         1,000  24/01/2023  -12,3693466
1402  BA  BR-135    224,000  225,000         1,000  24/01/2023  -12,3693466
1403  BA  BR-135    225,000  226,000         1,000  24/01/2023  -12,3693466
1404  BA  BR-135    226,000  227,000         1,000  24/01/2023  -12,3693466
1405  BA  BR-135    227,000  228,000         1,000  24/01/2023  -12,3693466
1406  BA  BR-135    306,500  307,000         0,500  24/01/2023  -13,0440416
1407  BA  BR-135    307,000  307,100         0,100  24/01/2023  -13,0459504
1408  BA  BR-135    319,800  320,000         0,200  24/01/2023  -13,1542816
1409  BA  BR-135    320,000  321,000         1,000  24/01/2023  -13,1573666
1410  BA  BR-135    321,000  321,200         0,200  24/01/2023  -13,1573666
1411  BA  BR-135    323,400  324,000         0,600  24/01/2023   -13,165705
1412  BA  BR-135    324,000  325,000         1,000  24/01/2023  -13,1830766
1413  BA  BR-135    325,000  325,300         0,300  24/01/2023  -13,1830766

        Longitude Observação   ICMNP
1383  -44,9800283        NaN  30,000
1384    -44,97331        NaN  35,000
1385    -44,97331        NaN  53,750
1386    -44,97331        NaN  47,500
1387    -44,97331        NaN  50,000
1388    -44,97331        NaN  53,750
1389    -44,97331        NaN  65,000
1390    -44,97331        NaN  76,250
1391    -44,97331        NaN  61,250
1392    -44,97331        NaN  76,250
1393    -44,97331        NaN  68,750
1394    -44,97331        NaN  71,250
1395    -44,97331        NaN  76,250
1396    -44,97331        NaN  68,750
1397    -44,97331        NaN  83,750
1398    -44,97331        NaN  72,500
1399    -44,97331        NaN  76,250
1400    -44,97331        NaN  73,750
1401    -44,97331        NaN  83,750
1402    -44,97331        NaN  72,500
1403    -44,97331        NaN  76,250
1404    -44,97331        NaN  66,250
1405    -44,97331        NaN  76,250
1406   -44,621948        NaN   0,000
1407  -44,6228495        NaN   0,000
1408  -44,6166333        NaN   3,750
1409  -44,6161683        NaN   3,750
1410  -44,6161683        NaN   3,750
1411  -44,6122983        NaN  52,500
1412   -44,617495        NaN  20,000
1413   -44,617495        NaN  17,500  >

In [57]:
indice=base.groupby(['Longitude'])
dadosBahia=lon23BA
x=dadosBahia
x.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
count,31,31,31,31,31,31,31,31,0,31
unique,1,1,31,31,6,1,8,8,0,19
top,BA,BR-135,"205,800","206,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
freq,31,31,1,1,24,31,22,22,NaN,6

In [66]:
indice23=base.groupby(['Latitude'])
dadosBahia23=lat23BA
y=dadosBahia23
y.describe()

,UF,Rodovia,km inicial,km final,Extensão (km),Data,Latitude,Longitude,Observação,ICMNP
count,31,31,31,31,31,31,31,31,0,31
unique,1,1,31,31,6,1,8,8,0,19
top,BA,BR-135,"205,800","206,000","1,000",24/01/2023,"-12,3693466","-44,97331",NaN,"76,250"
freq,31,31,1,1,24,31,22,22,NaN,6

In [67]:
x = base.iloc[:, 6].values
y = base.iloc[:, 7].values

In [76]:
#for pra percorrer as colunas e ver se alguma possui value object
for i ,tipo in base2['Latitude']:
  if tipo.type()==object:
     base2['Latitude'] = base2['Latitude'].str.replace(',','.')

TypeError: ignored

In [68]:
correlacao = np.corrcoef(x,y)
correlacao

TypeError: ignored

In [ ]:
#error = latitude10valores22 - latitude10valores23
#squared_error = error**2

In [ ]:
rmse = np.sqrt(mean_squared_error(,))
print("RMSE:", rmse)

In [ ]:
rmsle = np.sqrt(mean_squared_log_error(lat22BA,lat23BA))
print("RMSLE:", rmsle)